In [1]:
##IMPORTING LIBRARIES
import pandas as pd
import statistics as stats
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:

#IMPORTING DATASET
# Importing the dataset
dataset = pd.read_csv('C:/Users/miant/Desktop/Python/50_Startups.csv')

In [7]:
dataset.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

We want to analyse the average expenses of R&D and Administration. The goal is to identify wether they have differences or not. Use significance level 5%.

H0: mu R&D = mu Adm // H1: mu R&D =! mu Adm

In [4]:
#We define the variables

X1 = dataset['Administration']
X2 = dataset['R&D Spend']

In [5]:
from scipy import stats

In [6]:
#We perform the t test

t_test = stats.ttest_ind(X1, X2, equal_var = False)
display(t_test)

Ttest_indResult(statistic=6.261836793244626, pvalue=1.7155593312160603e-08)

As p value < alpha, then we reject H0

Interpretation: At a 5% significance level there is enough evidence to say that the expenses of these departments are different