In [2]:
import pandas as pd
import numpy as np
import statistics as stats

In [3]:

#IMPORTING DATASET
# Importing the dataset
dataset = pd.read_csv('C:/Users/miant/Desktop/Python/50_Startups.csv')
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
dataset.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

It is known that the startups spend less than 120K USD in Administration. If we consider our startups, what is the probability that we are on the same range of spend as other startups?

# X = Budget/Money spent in Administration department (in USD)

In [6]:
# mu = 121345
# sigma = 28018

# P( X < 120000)

from scipy.stats import norm

mean = 121345
std_dev = 28018

In [8]:
norm.cdf(120000,mean, std_dev)

0.4808561870592274

In order to perform an audit, there are 10 companies that are selected. What is the probability that more than 4 spend less than 120 K USD in administration?

# Y = number of companies/start ups that spend less than 120 k USD in Adm (within 10)

n = 10 ; p = 0.48

In [9]:
from scipy.stats import binom

In [10]:
#P(Y > 4)
binom.sf(k = 4, n = 10, p = 0.48)

0.572951743879195

In the audit it is important to have a balance between the locations. What is the probability to find 5 companies located in New York within the 10 companies selected?

# C = number of companies that are located in New York (within 10)

n = 10, p = 0.34

In [11]:
binom.pmf(k= 5, n = 10, p= 0.34)

0.14338865918052235