In [1]:
#Import libraries

import pandas as pd
import numpy as np
import scipy.stats as st

In [2]:
#IMPORTING DATASET
# Importing the dataset
dataset = pd.read_csv('C:/Users/miant/Desktop/Python/insurance_data.csv')
dataset.head()

   age  bmi  charges  gender     region
0   19   28    16885  female  southwest
1   62   26    27809  female       east
2   48   28    23568    male  southwest
3   53   23    23245  female       east
4   20   22    14712  female  northwest

We want to know the average charges of all the customers of the company. We will use 90% confidence

In [4]:
#We define our x (variable to analyse)

X = dataset.iloc[:,2:3].values

In [6]:
#We create our confidence interval using Student's T at 90% confidence
#st.t.interval(confidence=....)
st.t.interval(alpha = 0.90, df=len(X)-1, loc= np.mean(X), scale = st.sem(X))

(array([20089.28848335]), array([21300.77603278]))

At a 90% confidence level, the customers of this insurance company pay in average between 20K and 21.3 K yearly for insurance

Now we will perform the same exercise but assuming that the distribution is Normal (just as example)

In [7]:
from scipy import stats

stats.norm.interval(0.90, loc= np.mean(X), scale = st.sem(X))

(array([20093.85084033]), array([21296.2136758]))

In [8]:
dataset.describe()

              age         bmi       charges
count  124.000000  124.000000    124.000000
mean    37.854839   25.379032  20695.032258
std     13.670152    3.148345   4069.950564
min     18.000000   17.000000  12829.000000
25%     27.000000   23.000000  17544.000000
50%     37.500000   26.000000  19987.500000
75%     48.000000   28.000000  23442.750000
max     64.000000   30.000000  30942.000000

In [9]:
#We can calculate the LL and UL with the formula

LL = 20695.03 - (1.66 * 4069.95/ (123 ** 0.5))
LL

20085.851445283955

In [10]:
UL = 20695.03 + (1.66 * 4069.95/ (123 ** 0.5))
UL

21304.208554716042

# We will perform a HT to compare the average charges between males and females

In [11]:
F = dataset.charges[dataset.gender == "female"]
M = dataset.charges[dataset.gender == "male"]

We work with data from the sample, so we can use a t test to verify whether the average charges is the same for both of them

We need x bar, we need S and the sample size to perform the hypothesis test

H0 : mu female = mu males // 
H1: mu female =! mu male

In [12]:
F.describe()

count       62.000000
mean     20881.887097
std       4385.636074
min      13845.000000
25%      17475.750000
50%      20066.000000
75%      24052.250000
max      30942.000000
Name: charges, dtype: float64

In [13]:
M.describe()

count       62.000000
mean     20508.177419
std       3754.432893
min      12829.000000
25%      17723.500000
50%      19971.500000
75%      22449.750000
max      30185.000000
Name: charges, dtype: float64

In [14]:
#We perform the t test for two populations

t_test = stats.ttest_ind_from_stats(mean1 = 20881.88, std1 =4385.63, nobs1 = 62, mean2 = 20508.17, std2 = 3754.43, nobs2 = 62, equal_var = False)

display(t_test)

Ttest_indResult(statistic=0.5097018341947361, pvalue=0.6112030163756715)

As alpha was not given, so we assume 0.05 as alpha.

At a 5% significance level there is not evidence to say that women pay a different amount in average of charges than the men