# Exploring Population Trends in Ireland ☘️
***

### Name: Stephen Hasson
### Student No: sba23014
### Student Email: sba23014@student.cct.ie
### Course: CCT MSC in Data Analytics
### Assignment: MSC_DA_CA1
### Year: Sept-23 Intake
### Data Source: https://data.cso.ie/product/pme
***

## Table of Contents

### 1. [Data Cleaning](#Data-Cleaning)
### 2. [Data Cleaning](#Data-Cleaning)
### 3. [Data Cleaning](#Data-Cleaning)
### 4. [Data Cleaning](#Data-Cleaning)
### 5. [Data Cleaning](#Data-Cleaning)
### 6. [Data Cleaning](#Data-Cleaning)
### 7. [Data Cleaning](#Data-Cleaning)
### 8. [Data Cleaning](#Data-Cleaning)
### 9. [Data Cleaning](#Data-Cleaning)
### 10. [Data Cleaning](#Data-Cleaning)
***

## 1. Import packages & load data

In [1]:
# Import eda & visualisation packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Import machine learning packages from sklearn
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import r2_score

# Configure default colour scheme for seaborn
sns.set(color_codes=True)

# Display all columns of the pandas df
pd.set_option('display.max_columns', None)

In [2]:
# Specify the url of the 'xxx' dataset, saved in github account
pop_change_url = 'https://raw.githubusercontent.com/sba23014/cct_msc_data_analytics/main/s1_ca1/datasets/20230925_annual_population_change_1951_to_2023.csv'
pop_est_url = 'https://raw.githubusercontent.com/sba23014/cct_msc_data_analytics/main/s1_ca1/datasets/20230925_population_estimates_1950_to_2023.csv'
gdp_gnp_url = 'https://raw.githubusercontent.com/sba23014/cct_msc_data_analytics/main/s1_ca1/datasets/20230901_gdp_%26_gnp_1995_to_2023.csv'

# Read files from the github url's into the pandas DataFrame (df)
pop_change_df = pd.read_csv(pop_change_url)
pop_est_df = pd.read_csv(pop_est_url)
gdp_gnp_df = pd.read_csv(gdp_gnp_url)

In [3]:
# Return the first 5 rows to validate df creation
pop_change_df.head()

,STATISTIC,STATISTIC Label,TLIST(A1),Year,C02541V03076,Component,UNIT,VALUE
0,PEA15,Annual Population Change,1951,1951,1,Annual births,Thousand,NaN
1,PEA15,Annual Population Change,1951,1951,2,Annual deaths,Thousand,NaN
2,PEA15,Annual Population Change,1951,1951,3,Natural increase,Thousand,26.6
3,PEA15,Annual Population Change,1951,1951,4,Immigrants,Thousand,NaN
4,PEA15,Annual Population Change,1951,1951,5,Emigrants,Thousand,NaN

In [4]:
# Return the first 5 rows to validate df creation
pop_est_df.head()

,STATISTIC,STATISTIC Label,TLIST(A1),Year,C02076V02508,Age Group,C02199V02655,Sex,UNIT,VALUE
0,PEA01,Population Estimates (Persons in April),1950,1950,200,Under 1 year,-,Both sexes,Thousand,61.1
1,PEA01,Population Estimates (Persons in April),1950,1950,200,Under 1 year,1,Male,Thousand,31.4
2,PEA01,Population Estimates (Persons in April),1950,1950,200,Under 1 year,2,Female,Thousand,29.7
3,PEA01,Population Estimates (Persons in April),1950,1950,205,0 - 4 years,-,Both sexes,Thousand,NaN
4,PEA01,Population Estimates (Persons in April),1950,1950,205,0 - 4 years,1,Male,Thousand,NaN

In [5]:
# Return the first 5 rows to validate df creation
gdp_gnp_df.head()

,STATISTIC,Statistic Label,TLIST(Q1),Quarter,C02196V02652,State,UNIT,VALUE
0,NAQ03C01,GVA at Constant Basic Prices,19951,1995Q1,-,State,Euro Million,21283
1,NAQ03C01,GVA at Constant Basic Prices,19952,1995Q2,-,State,Euro Million,22083
2,NAQ03C01,GVA at Constant Basic Prices,19953,1995Q3,-,State,Euro Million,22529
3,NAQ03C01,GVA at Constant Basic Prices,19954,1995Q4,-,State,Euro Million,22342
4,NAQ03C01,GVA at Constant Basic Prices,19961,1996Q1,-,State,Euro Million,22989

## 2. Initial data exploration & cleaning

## Exploring population '20230925_annual_population_change_1951_to_2023' dataset first

In [6]:
# Print the dimensionality of the df
pop_change_df.shape

(584, 8)

584 rows & 8 columns

In [7]:
# Return the first 15 rows to validate df creation
pop_change_df.head(15)

,STATISTIC,STATISTIC Label,TLIST(A1),Year,C02541V03076,Component,UNIT,VALUE
0,PEA15,Annual Population Change,1951,1951,1,Annual births,Thousand,NaN
1,PEA15,Annual Population Change,1951,1951,2,Annual deaths,Thousand,NaN
2,PEA15,Annual Population Change,1951,1951,3,Natural increase,Thousand,26.6
3,PEA15,Annual Population Change,1951,1951,4,Immigrants,Thousand,NaN
4,PEA15,Annual Population Change,1951,1951,5,Emigrants,Thousand,NaN
5,PEA15,Annual Population Change,1951,1951,6,Net migration,Thousand,-35.0
6,PEA15,Annual Population Change,1951,1951,7,Population change,Thousand,-8.4
7,PEA15,Annual Population Change,1951,1951,8,Population,Thousand,2960.6
8,PEA15,Annual Population Change,1952,1952,1,Annual births,Thousand,NaN
9,PEA15,Annual Population Change,1952,1952,2,Annual deaths,Thousand,NaN
10,PEA15,Annual Population Change,1952,1952,3,Natural increase,Thousand,27.3
11,PEA15,Annual Population Change,1952,1952,4,Immigrants,Thousand,NaN
12,PEA15,Annual Population Change,1952,1952,5,Emigrants,Thousand,NaN
13,PEA15,Annual Population Change,1952,1952,6,Net migration,Thousand,-35.0
14,PEA15,Annual Population Change,1952,1952,7,Population change,Thousand,-7.7

Notes: 
* Value column contains nulls
* There are several different unique 'Components', for meaningful results splitting this data will be essential
* Numerous 'system code' type columns: 'STATISTIC', 'TLIST(A1)', 'C02541V03076'
* Validate mapping of 'system code' type columns: 'STATISTIC', 'TLIST(A1)', 'C02541V03076' against labels, if 1:1 then drop as required
* 'C02541V03076' already in numeric datatype format, could be kept for ML purposes
* 'UNIT' column specifies the denomination of 'Value' column, this could be transformed to the correct value
* Based on date range in question several observations can be removed based on 'Year'
* Identifying what to do with 'Value' NaNs important

In [8]:
# Print a concise summary of the df
pop_change_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584 entries, 0 to 583
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATISTIC        584 non-null    object
 1   STATISTIC Label  584 non-null    object
 2   TLIST(A1)        584 non-null    int64
 3   Year             584 non-null    int64
 4   C02541V03076     584 non-null    int64
 5   Component        584 non-null    object
 6   UNIT             584 non-null    object
 7   VALUE            440 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 36.6+ KB

In [9]:
# Generate descriptive statistics for all attributes
pop_change_df.describe(include = 'all')

,STATISTIC,STATISTIC Label,TLIST(A1),Year,C02541V03076,Component,UNIT,VALUE
count,584,584,584.000000,584.000000,584.000000,584,584,440.000000
unique,1,1,NaN,NaN,NaN,8,1,NaN
top,PEA15,Annual Population Change,NaN,NaN,NaN,Annual births,Thousand,NaN
freq,584,584,NaN,NaN,NaN,73,584,NaN
mean,NaN,NaN,1987.000000,1987.000000,4.500000,NaN,NaN,633.262273
std,NaN,NaN,21.089371,21.089371,2.293252,NaN,NaN,1378.671718
min,NaN,NaN,1951.000000,1951.000000,1.000000,NaN,NaN,-58.000000
25%,NaN,NaN,1969.000000,1969.000000,2.750000,NaN,NaN,24.775000
50%,NaN,NaN,1987.000000,1987.000000,4.500000,NaN,NaN,35.550000
75%,NaN,NaN,2005.000000,2005.000000,6.250000,NaN,NaN,70.775000
max,NaN,NaN,2023.000000,2023.000000,8.000000,NaN,NaN,5281.600000

* Value column contains nulls
* Several rows are objects and don't have descriptive statistics
* Remaining columns all appear to have no missing values

* Check and remove duplicates

In [10]:
# Total number of rows and columns
print('pop_change_df shape:')
print(pop_change_df.shape)
print()

# Rows containing duplicate data
pop_change_dup_rows_df = pop_change_df[pop_change_df.duplicated()]
print('Number of duplicate rows:')
print(pop_change_dup_rows_df.shape)
print()

# Used to count the number of rows before removing the data
print('Row count before removing duplicates:')
print()
print(pop_change_df.count())
print()

# Dropping the duplicates
pop_change_df = pop_change_df.drop_duplicates()

# Counting the number of rows after removing duplicates.
print('Row count after removing duplicates:')
print()
print(pop_change_df.count())
print()

pop_change_df shape:
(584, 8)

Number of duplicate rows:
(0, 8)

Row count before removing duplicates:

STATISTIC          584
STATISTIC Label    584
TLIST(A1)          584
Year               584
C02541V03076       584
Component          584
UNIT               584
VALUE              440
dtype: int64

Row count after removing duplicates:

STATISTIC          584
STATISTIC Label    584
TLIST(A1)          584
Year               584
C02541V03076       584
Component          584
UNIT               584
VALUE              440
dtype: int64

* Numerous 'system code' type columns: 'STATISTIC', 'TLIST(A1)', 'C02541V03076'
* Validate that they are indeed 1:1 mapping, if so can drop additional columns

In [11]:
def verify_one_to_one_mapping(df, column1, column2):
    """
    Verifies if each unique value in column1 maps to a single unique value in column2.
    
    Parameters:
        df (DataFrame): The DataFrame containing the columns to be checked.
        column1 (str): The name of the first column.
        column2 (str): The name of the second column.
        
    Returns:
        bool: True if it's a 1:1 mapping, False otherwise.
    """
    
    # Group the DataFrame by column1 and get unique values in column2 for each group
    grouped = df.groupby(column1)[column2].unique().reset_index()
    
    # Check if each unique value in column1 maps to a single unique value in column2
    is_one_to_one = all(grouped[column2].apply(len) == 1)
    
    return is_one_to_one

In [12]:
# run code

statistic_mapping = verify_one_to_one_mapping(pop_change_df, 'STATISTIC', 'STATISTIC Label')
year_mapping = verify_one_to_one_mapping(pop_change_df, 'TLIST(A1)', 'Year')
component_mapping = verify_one_to_one_mapping(pop_change_df, 'C02541V03076', 'Component')

print('"STATISTIC" & "STATISTIC Label" mapping one-to-one:', statistic_mapping)
print('"TLIST(A1)" & "Year" mapping one-to-one:', year_mapping)
print('"C02541V03076" & "Component" mapping one-to-one:', component_mapping)

"STATISTIC" & "STATISTIC Label" mapping one-to-one: True
"TLIST(A1)" & "Year" mapping one-to-one: True
"C02541V03076" & "Component" mapping one-to-one: True

In [13]:
# Validate only one denomination value in the 'UNIT' column
pop_change_df['UNIT'].unique()

array(['Thousand'], dtype=object)

* It's fine to drop those additional columns as they are not serving the dataset

In [14]:
# we don't these columns
pop_change_df.drop(['STATISTIC', 'STATISTIC Label', 'TLIST(A1)', 'C02541V03076', 'UNIT'], axis = 1, inplace = True)

pop_change_df

     Year          Component   VALUE
0    1951      Annual births     NaN
1    1951      Annual deaths     NaN
2    1951   Natural increase    26.6
3    1951         Immigrants     NaN
4    1951          Emigrants     NaN
..    ...                ...     ...
579  2023         Immigrants   141.6
580  2023          Emigrants    64.0
581  2023      Net migration    77.6
582  2023  Population change    97.6
583  2023         Population  5281.6

[584 rows x 3 columns]

* Renaming columns

In [15]:
# Rename columns
pop_change_df.rename(columns = {'VALUE': 'Value (K)'}, inplace = True)

# Validate changes
pop_change_df.head()

   Year         Component  Value (K)
0  1951     Annual births        NaN
1  1951     Annual deaths        NaN
2  1951  Natural increase       26.6
3  1951        Immigrants        NaN
4  1951         Emigrants        NaN

* Create an additional column for the 'Value (K)' in the raw format

In [16]:
pop_change_df['Value'] = pop_change_df['Value (K)'] * 1000

pop_change_df

     Year          Component  Value (K)      Value
0    1951      Annual births        NaN        NaN
1    1951      Annual deaths        NaN        NaN
2    1951   Natural increase       26.6    26600.0
3    1951         Immigrants        NaN        NaN
4    1951          Emigrants        NaN        NaN
..    ...                ...        ...        ...
579  2023         Immigrants      141.6   141600.0
580  2023          Emigrants       64.0    64000.0
581  2023      Net migration       77.6    77600.0
582  2023  Population change       97.6    97600.0
583  2023         Population     5281.6  5281600.0

[584 rows x 4 columns]

In [17]:
# we don't need the 'Value (K)' column anymore
pop_change_df.drop(['Value (K)'], axis = 1, inplace = True)

pop_change_df

     Year          Component      Value
0    1951      Annual births        NaN
1    1951      Annual deaths        NaN
2    1951   Natural increase    26600.0
3    1951         Immigrants        NaN
4    1951          Emigrants        NaN
..    ...                ...        ...
579  2023         Immigrants   141600.0
580  2023          Emigrants    64000.0
581  2023      Net migration    77600.0
582  2023  Population change    97600.0
583  2023         Population  5281600.0

[584 rows x 3 columns]

In [18]:
# Validate unique component values
pop_change_df['Component'].unique()

array(['Annual births', 'Annual deaths', 'Natural increase', 'Immigrants',
       'Emigrants', 'Net migration', 'Population change', 'Population'],
      dtype=object)

* There are several components within the dataset, some of them measuring individual statistics and some which are calculated values e.g.
    * Natural increase = Annual births - Annual deaths
    * Net migration = Immigrants - Emigrants
    * Population change = Population - Population (previous year)
* Need to pivot the dataset so that there's only a single row per year, the component values are moved to columns

In [19]:
# Pivot the DataFrame so that unique 'Component' values become columns
pop_change_pivot_df = pop_change_df.pivot(index = 'Year', columns = 'Component', values = 'Value')

pop_change_pivot_df.head()

Component,Annual births,Annual deaths,Emigrants,Immigrants,Natural increase,Net migration,Population,Population change
Year,,,,,,,,
1951,NaN,NaN,NaN,NaN,26600.0,-35000.0,2960600.0,-8400.0
1952,NaN,NaN,NaN,NaN,27300.0,-35000.0,2952900.0,-7700.0
1953,NaN,NaN,NaN,NaN,29100.0,-33000.0,2949000.0,-3900.0
1954,NaN,NaN,NaN,NaN,28200.0,-36000.0,2941200.0,-7800.0
1955,NaN,NaN,NaN,NaN,24700.0,-45000.0,2920900.0,-20300.0

* Null values will be investigated once the data is joined

* Only care about the last 25 full years
* Drop any observations outside of range: >= 1998 AND <= 2022

In [20]:
pop_change_pivot_df = pop_change_pivot_df.loc[1998:2022]

pop_change_pivot_df

Component,Annual births,Annual deaths,Emigrants,Immigrants,Natural increase,Net migration,Population,Population change
Year,,,,,,,,
1998,52700.0,31200.0,28600.0,46000.0,21500.0,17400.0,3703100.0,38800.0
1999,53700.0,32400.0,31500.0,48900.0,21200.0,17300.0,3741600.0,38500.0
2000,54000.0,32100.0,26600.0,52600.0,21800.0,26000.0,3789500.0,47900.0
2001,55100.0,30200.0,26200.0,59000.0,24800.0,32800.0,3847200.0,57700.0
2002,58100.0,29300.0,25600.0,66900.0,28800.0,41300.0,3917200.0,70000.0
2003,60800.0,28900.0,29300.0,60000.0,31900.0,30700.0,3979900.0,62600.0
2004,62000.0,28600.0,26500.0,58500.0,33300.0,32000.0,4045200.0,65300.0
2005,61400.0,27900.0,29400.0,84600.0,33500.0,55100.0,4133800.0,88600.0
2006,61200.0,27000.0,36000.0,107800.0,34200.0,71800.0,4232900.0,106000.0
2007,66600.0,28400.0,46300.0,151100.0,38200.0,104800.0,4375800.0,142900.0
2008,73000.0,28000.0,49200.0,113500.0,44900.0,64300.0,4485100.0,109200.0
2009,75300.0,28600.0,72000.0,73700.0,46700.0,1600.0,4533400.0,48300.0
2010,77200.0,28400.0,69200.0,41800.0,48800.0,-27500.0,4554800.0,21400.0
2011,75100.0,27700.0,80600.0,53300.0,47500.0,-27400.0,4574900.0,20100.0
2012,73200.0,28700.0,83000.0,57300.0,44500.0,-25700.0,4593700.0,18800.0
2013,69400.0,29800.0,81300.0,62700.0,39600.0,-18700.0,4614700.0,21000.0
2014,68400.0,29200.0,75000.0,66500.0,39200.0,-8500.0,4645400.0,30800.0
2015,66400.0,29900.0,70000.0,75900.0,36500.0,5900.0,4687800.0,42300.0
2016,65400.0,29800.0,66200.0,82300.0,35600.0,16200.0,4739600.0,51800.0
2017,63400.0,31300.0,56100.0,95300.0,32100.0,39200.0,4810900.0,71300.0
2018,61600.0,32000.0,51600.0,96000.0,29600.0,44400.0,4884900.0,74000.0
2019,60500.0,30900.0,53100.0,97100.0,29600.0,44000.0,4958500.0,73600.0
2020,59100.0,32400.0,50900.0,95600.0,26700.0,44700.0,5029900.0,71400.0
2021,57300.0,34300.0,52300.0,74100.0,23000.0,21800.0,5074700.0,44800.0
2022,59700.0,33600.0,56100.0,107800.0,26100.0,51700.0,5184000.0,77800.0

In [21]:
# Count the number of observations (rows), ensure that it's 25
num_observations = len(pop_change_pivot_df)

num_observations

25

### Exploring population 20230925_population_estimates_1950_to_2023' dataset second

In [22]:
# Print the dimensionality of the df
pop_est_df.shape

(5994, 10)

In [23]:
# Return the first 15 rows to validate df creation
pop_est_df.head(15)

,STATISTIC,STATISTIC Label,TLIST(A1),Year,C02076V02508,Age Group,C02199V02655,Sex,UNIT,VALUE
0,PEA01,Population Estimates (Persons in April),1950,1950,200,Under 1 year,-,Both sexes,Thousand,61.1
1,PEA01,Population Estimates (Persons in April),1950,1950,200,Under 1 year,1,Male,Thousand,31.4
2,PEA01,Population Estimates (Persons in April),1950,1950,200,Under 1 year,2,Female,Thousand,29.7
3,PEA01,Population Estimates (Persons in April),1950,1950,205,0 - 4 years,-,Both sexes,Thousand,NaN
4,PEA01,Population Estimates (Persons in April),1950,1950,205,0 - 4 years,1,Male,Thousand,NaN
5,PEA01,Population Estimates (Persons in April),1950,1950,205,0 - 4 years,2,Female,Thousand,NaN
6,PEA01,Population Estimates (Persons in April),1950,1950,215,0 - 14 years,-,Both sexes,Thousand,851.2
7,PEA01,Population Estimates (Persons in April),1950,1950,215,0 - 14 years,1,Male,Thousand,434.6
8,PEA01,Population Estimates (Persons in April),1950,1950,215,0 - 14 years,2,Female,Thousand,416.6
9,PEA01,Population Estimates (Persons in April),1950,1950,225,1 - 4 years,-,Both sexes,Thousand,249.1
10,PEA01,Population Estimates (Persons in April),1950,1950,225,1 - 4 years,1,Male,Thousand,127.5
11,PEA01,Population Estimates (Persons in April),1950,1950,225,1 - 4 years,2,Female,Thousand,121.6
12,PEA01,Population Estimates (Persons in April),1950,1950,245,5 - 9 years,-,Both sexes,Thousand,278.9
13,PEA01,Population Estimates (Persons in April),1950,1950,245,5 - 9 years,1,Male,Thousand,142.3
14,PEA01,Population Estimates (Persons in April),1950,1950,245,5 - 9 years,2,Female,Thousand,136.6

Notes: 
* Value column contains nulls
* There are several different unique 'Sex' values, for meaningful results splitting this data will be essential
* Numerous 'system code' type columns: 'STATISTIC', 'TLIST(A1)', 'C02076V02508', 'C02199V02655'
* Validate mapping of 'system code' type columns: 'STATISTIC', 'TLIST(A1)', 'C02076V02508', 'C02199V02655' against labels, if 1:1 then drop as required
* 'UNIT' column specifies the denomination of 'Value' column, this could be transformed to the correct value
* Based on date range in question several observations can be removed based on 'Year'
* Identifying what to do with 'Value' NaNs important

In [24]:
# Print a concise summary of the df
pop_est_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5994 entries, 0 to 5993
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATISTIC        5994 non-null   object
 1   STATISTIC Label  5994 non-null   object
 2   TLIST(A1)        5994 non-null   int64
 3   Year             5994 non-null   int64
 4   C02076V02508     5994 non-null   object
 5   Age Group        5994 non-null   object
 6   C02199V02655     5994 non-null   object
 7   Sex              5994 non-null   object
 8   UNIT             5994 non-null   object
 9   VALUE            5880 non-null   float64
dtypes: float64(1), int64(2), object(7)
memory usage: 468.4+ KB

In [25]:
# Generate descriptive statistics for all attributes
pop_est_df.describe(include = 'all')

,STATISTIC,STATISTIC Label,TLIST(A1),Year,C02076V02508,Age Group,C02199V02655,Sex,UNIT,VALUE
count,5994,5994,5994.000000,5994.000000,5994,5994,5994,5994,5994,5880.000000
unique,1,1,NaN,NaN,27,27,3,3,1,NaN
top,PEA01,Population Estimates (Persons in April),NaN,NaN,200,Under 1 year,-,Both sexes,Thousand,NaN
freq,5994,5994,NaN,NaN,222,222,1998,1998,5994,NaN
mean,NaN,NaN,1986.500000,1986.500000,NaN,NaN,NaN,NaN,NaN,347.001088
std,NaN,NaN,21.361791,21.361791,NaN,NaN,NaN,NaN,NaN,601.822682
min,NaN,NaN,1950.000000,1950.000000,NaN,NaN,NaN,NaN,NaN,5.500000
25%,NaN,NaN,1968.000000,1968.000000,NaN,NaN,NaN,NaN,NaN,79.475000
50%,NaN,NaN,1986.500000,1986.500000,NaN,NaN,NaN,NaN,NaN,151.700000
75%,NaN,NaN,2005.000000,2005.000000,NaN,NaN,NaN,NaN,NaN,307.725000
max,NaN,NaN,2023.000000,2023.000000,NaN,NaN,NaN,NaN,NaN,5281.600000

* Value column contains nulls / missing values
* Several rows are objects and don't have descriptive statistics
* Remaining columns all appear to have no missing values

* Numerous 'system code' type columns: 'STATISTIC', 'TLIST(A1)', 'C02541V03076'
* Validate that they are indeed 1:1 mapping, if so can drop additional columns

In [26]:
# run code

statistic_mapping = verify_one_to_one_mapping(pop_est_df, 'STATISTIC', 'STATISTIC Label')
year_mapping = verify_one_to_one_mapping(pop_est_df, 'TLIST(A1)', 'Year')
component_mapping = verify_one_to_one_mapping(pop_est_df, 'C02076V02508', 'Age Group')
sex_mapping = verify_one_to_one_mapping(pop_est_df, 'C02199V02655', 'Sex')

print('"STATISTIC" & "STATISTIC Label" mapping one-to-one:', statistic_mapping)
print('"TLIST(A1)" & "Year" mapping one-to-one:', year_mapping)
print('"C02541V03076" & "Component" mapping one-to-one:', component_mapping)
print('"C02199V02655" & "Sex" mapping one-to-one:', sex_mapping)

"STATISTIC" & "STATISTIC Label" mapping one-to-one: True
"TLIST(A1)" & "Year" mapping one-to-one: True
"C02541V03076" & "Component" mapping one-to-one: True
"C02199V02655" & "Sex" mapping one-to-one: True

* Age group is not a variable I want investigate so I will filter the dataset to only include 'all ages'

In [27]:
# Filter the DataFrame to include only rows where 'Age Group' is 'All Ages'
pop_est_df = pop_est_df[pop_est_df['Age Group'] == 'All ages']

pop_est_df

,STATISTIC,STATISTIC Label,TLIST(A1),Year,C02076V02508,Age Group,C02199V02655,Sex,UNIT,VALUE
78,PEA01,Population Estimates (Persons in April),1950,1950,-,All ages,-,Both sexes,Thousand,2969.0
79,PEA01,Population Estimates (Persons in April),1950,1950,-,All ages,1,Male,Thousand,1510.0
80,PEA01,Population Estimates (Persons in April),1950,1950,-,All ages,2,Female,Thousand,1459.0
159,PEA01,Population Estimates (Persons in April),1951,1951,-,All ages,-,Both sexes,Thousand,2960.6
160,PEA01,Population Estimates (Persons in April),1951,1951,-,All ages,1,Male,Thousand,1506.6
...,...,...,...,...,...,...,...,...,...,...
5911,PEA01,Population Estimates (Persons in April),2022,2022,-,All ages,1,Male,Thousand,2562.0
5912,PEA01,Population Estimates (Persons in April),2022,2022,-,All ages,2,Female,Thousand,2622.0
5991,PEA01,Population Estimates (Persons in April),2023,2023,-,All ages,-,Both sexes,Thousand,5281.6
5992,PEA01,Population Estimates (Persons in April),2023,2023,-,All ages,1,Male,Thousand,2606.2
5993,PEA01,Population Estimates (Persons in April),2023,2023,-,All ages,2,Female,Thousand,2675.4

In [28]:
# Validate only one denomination value in the 'UNIT' column
pop_est_df['UNIT'].unique()

array(['Thousand'], dtype=object)

* It's fine to drop those additional columns as they are not serving the dataset now that I've gotten my subset

In [29]:
# we don't want these columns
pop_est_df.drop(['STATISTIC', 'STATISTIC Label', 'TLIST(A1)', 'C02076V02508', 'Age Group', 'C02199V02655', 'UNIT'], axis = 1, inplace = True)

pop_est_df

      Year         Sex   VALUE
78    1950  Both sexes  2969.0
79    1950        Male  1510.0
80    1950      Female  1459.0
159   1951  Both sexes  2960.6
160   1951        Male  1506.6
...    ...         ...     ...
5911  2022        Male  2562.0
5912  2022      Female  2622.0
5991  2023  Both sexes  5281.6
5992  2023        Male  2606.2
5993  2023      Female  2675.4

[222 rows x 3 columns]

* rename columns

In [30]:
# Rename columns
pop_est_df.rename(columns = {'VALUE': 'Value (K)'}, inplace = True)

# Validate changes
pop_est_df.head()

     Year         Sex  Value (K)
78   1950  Both sexes     2969.0
79   1950        Male     1510.0
80   1950      Female     1459.0
159  1951  Both sexes     2960.6
160  1951        Male     1506.6

* Create an additional column for the 'Value (K)' in the raw format

In [31]:
pop_est_df['Value'] = pop_est_df['Value (K)'] * 1000

pop_est_df

      Year         Sex  Value (K)      Value
78    1950  Both sexes     2969.0  2969000.0
79    1950        Male     1510.0  1510000.0
80    1950      Female     1459.0  1459000.0
159   1951  Both sexes     2960.6  2960600.0
160   1951        Male     1506.6  1506600.0
...    ...         ...        ...        ...
5911  2022        Male     2562.0  2562000.0
5912  2022      Female     2622.0  2622000.0
5991  2023  Both sexes     5281.6  5281600.0
5992  2023        Male     2606.2  2606200.0
5993  2023      Female     2675.4  2675400.0

[222 rows x 4 columns]

In [32]:
# we don't need the 'Value (K)' column anymore
pop_est_df.drop(['Value (K)'], axis = 1, inplace = True)

pop_est_df

      Year         Sex      Value
78    1950  Both sexes  2969000.0
79    1950        Male  1510000.0
80    1950      Female  1459000.0
159   1951  Both sexes  2960600.0
160   1951        Male  1506600.0
...    ...         ...        ...
5911  2022        Male  2562000.0
5912  2022      Female  2622000.0
5991  2023  Both sexes  5281600.0
5992  2023        Male  2606200.0
5993  2023      Female  2675400.0

[222 rows x 3 columns]

In [33]:
# Validate unique component values
pop_est_df['Sex'].unique()

array(['Both sexes', 'Male', 'Female'], dtype=object)

* Check and remove duplicates
* Because I removed the 'Age Group' classification columns, I need to remove duplicates values

In [34]:
# Total number of rows and columns
print('pop_est_df shape:')
print(pop_est_df.shape)
print()

# Rows containing duplicate data
pop_est_dup_rows_df = pop_est_df[pop_est_df.duplicated()]
print('Number of duplicate rows:')
print(pop_est_dup_rows_df.shape)
print()

# Used to count the number of rows before removing the data
print('Row count before removing duplicates:')
print()
print(pop_est_df.count())
print()

# Dropping the duplicates
pop_est_df = pop_est_df.drop_duplicates()

# Counting the number of rows after removing duplicates.
print('Row count after removing duplicates:')
print()
print(pop_est_df.count())
print()

pop_est_df shape:
(222, 3)

Number of duplicate rows:
(0, 3)

Row count before removing duplicates:

Year     222
Sex      222
Value    222
dtype: int64

Row count after removing duplicates:

Year     222
Sex      222
Value    222
dtype: int64

In [35]:
# Pivot the DataFrame so that unique 'Component' values become columns
pop_est_pivot_df = pop_est_df.pivot(index = 'Year', columns = 'Sex', values = 'Value')

pop_est_pivot_df.head()

Sex   Both sexes     Female       Male
Year
1950   2969000.0  1459000.0  1510000.0
1951   2960600.0  1454000.0  1506600.0
1952   2952900.0  1452000.0  1500900.0
1953   2949000.0  1451100.0  1497900.0
1954   2941200.0  1448200.0  1493000.0

In [36]:
pop_est_pivot_df = pop_est_pivot_df.loc[1998:2022]

pop_est_pivot_df

Sex   Both sexes     Female       Male
Year
1998   3703100.0  1864200.0  1838900.0
1999   3741600.0  1883000.0  1858600.0
2000   3789500.0  1906600.0  1882900.0
2001   3847200.0  1934100.0  1913100.0
2002   3917200.0  1971000.0  1946200.0
2003   3979900.0  2002900.0  1976900.0
2004   4045200.0  2033300.0  2011900.0
2005   4133800.0  2072000.0  2061800.0
2006   4232900.0  2115600.0  2117300.0
2007   4375800.0  2184600.0  2191300.0
2008   4485100.0  2246500.0  2238600.0
2009   4533400.0  2276100.0  2257300.0
2010   4554800.0  2292600.0  2262200.0
2011   4574900.0  2304400.0  2270500.0
2012   4593700.0  2318700.0  2275000.0
2013   4614700.0  2328500.0  2286100.0
2014   4645400.0  2346400.0  2299000.0
2015   4687800.0  2370100.0  2317700.0
2016   4739600.0  2393100.0  2346500.0
2017   4810900.0  2430100.0  2380800.0
2018   4884900.0  2465400.0  2419500.0
2019   4958500.0  2502200.0  2456300.0
2020   5029900.0  2538100.0  2491800.0
2021   5074700.0  2560600.0  2514000.0
2022   5184000.0  2622000.0  2562000.0

### Exploring population '20230925_gdp_&_gnp_1995_to_2023' dataset third

* Check and remove duplicates
* Because I removed the 'Age Group' classification columns, I need to remove duplicates values

In [37]:
# Print the dimensionality of the df
gdp_gnp_df.shape

(2736, 8)

In [38]:
# Return the first 15 rows to validate df creation
gdp_gnp_df.head(15)

,STATISTIC,Statistic Label,TLIST(Q1),Quarter,C02196V02652,State,UNIT,VALUE
0,NAQ03C01,GVA at Constant Basic Prices,19951,1995Q1,-,State,Euro Million,21283
1,NAQ03C01,GVA at Constant Basic Prices,19952,1995Q2,-,State,Euro Million,22083
2,NAQ03C01,GVA at Constant Basic Prices,19953,1995Q3,-,State,Euro Million,22529
3,NAQ03C01,GVA at Constant Basic Prices,19954,1995Q4,-,State,Euro Million,22342
4,NAQ03C01,GVA at Constant Basic Prices,19961,1996Q1,-,State,Euro Million,22989
5,NAQ03C01,GVA at Constant Basic Prices,19962,1996Q2,-,State,Euro Million,24022
6,NAQ03C01,GVA at Constant Basic Prices,19963,1996Q3,-,State,Euro Million,23775
7,NAQ03C01,GVA at Constant Basic Prices,19964,1996Q4,-,State,Euro Million,23722
8,NAQ03C01,GVA at Constant Basic Prices,19971,1997Q1,-,State,Euro Million,24656
9,NAQ03C01,GVA at Constant Basic Prices,19972,1997Q2,-,State,Euro Million,26327
10,NAQ03C01,GVA at Constant Basic Prices,19973,1997Q3,-,State,Euro Million,26393
11,NAQ03C01,GVA at Constant Basic Prices,19974,1997Q4,-,State,Euro Million,26941
12,NAQ03C01,GVA at Constant Basic Prices,19981,1998Q1,-,State,Euro Million,27120
13,NAQ03C01,GVA at Constant Basic Prices,19982,1998Q2,-,State,Euro Million,28211
14,NAQ03C01,GVA at Constant Basic Prices,19983,1998Q3,-,State,Euro Million,29099

Notes: 
* Value column contains nulls
* There are several different unique 'Sex' values, for meaningful results splitting this data will be essential
* Numerous 'system code' type columns: 'STATISTIC', 'TLIST(Q1)', 'C02196V02652'
* Validate mapping of 'system code' type columns: 'STATISTIC', 'TLIST(Q1)', 'C02196V02652' against labels, if 1:1 then drop as required
* 'UNIT' column specifies the denomination of 'Value' column, this could be transformed to the correct value
* Based on date range in question several observations can be removed based on 'Year'
* Identifying what to do with 'Value' NaNs important

In [39]:
# Print a concise summary of the df
gdp_gnp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2736 entries, 0 to 2735
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATISTIC        2736 non-null   object
 1   Statistic Label  2736 non-null   object
 2   TLIST(Q1)        2736 non-null   int64
 3   Quarter          2736 non-null   object
 4   C02196V02652     2736 non-null   object
 5   State            2736 non-null   object
 6   UNIT             2736 non-null   object
 7   VALUE            2736 non-null   int64
dtypes: int64(2), object(6)
memory usage: 171.1+ KB

In [40]:
# Generate descriptive statistics for all attributes
gdp_gnp_df.describe(include = 'all')

,STATISTIC,Statistic Label,TLIST(Q1),Quarter,C02196V02652,State,UNIT,VALUE
count,2736,2736,2736.000000,2736,2736,2736,2736,2736.000000
unique,24,24,NaN,114,1,1,1,NaN
top,NAQ03C01,GVA at Constant Basic Prices,NaN,1995Q1,-,State,Euro Million,NaN
freq,114,114,NaN,24,2736,2736,2736,NaN
mean,NaN,NaN,20090.026316,NaN,NaN,NaN,NaN,23922.203216
std,NaN,NaN,82.289981,NaN,NaN,NaN,NaN,31933.678885
min,NaN,NaN,19951.000000,NaN,NaN,NaN,NaN,-41168.000000
25%,NaN,NaN,20021.000000,NaN,NaN,NaN,NaN,-334.250000
50%,NaN,NaN,20091.500000,NaN,NaN,NaN,NaN,10117.500000
75%,NaN,NaN,20162.000000,NaN,NaN,NaN,NaN,43457.000000
max,NaN,NaN,20232.000000,NaN,NaN,NaN,NaN,134023.000000

* No missing values so far
* Several rows are objects and don't have descriptive statistics
* Remaining columns all appear to have no missing values
* Numerous 'system code' type columns: 'STATISTIC', 'TLIST(A1)', 'C02541V03076'
* Validate that they are indeed 1:1 mapping, if so can drop additional columns

In [41]:
# run code

statistic_mapping = verify_one_to_one_mapping(gdp_gnp_df, 'STATISTIC', 'Statistic Label')
quarter_mapping = verify_one_to_one_mapping(gdp_gnp_df, 'TLIST(Q1)', 'Quarter')
component_mapping = verify_one_to_one_mapping(gdp_gnp_df, 'C02196V02652', 'State')

print('"STATISTIC" & "Statistic Label" mapping one-to-one:', statistic_mapping)
print('"TLIST(Q1)" & "Quarter" mapping one-to-one:', quarter_mapping)
print('"C02196V02652" & "State" mapping one-to-one:', component_mapping)

"STATISTIC" & "Statistic Label" mapping one-to-one: True
"TLIST(Q1)" & "Quarter" mapping one-to-one: True
"C02196V02652" & "State" mapping one-to-one: True

In [42]:
gdp_gnp_df['Year'] = gdp_gnp_df['Quarter'].str[:4]
gdp_gnp_df['Quarter No'] = gdp_gnp_df['Quarter'].str[-1]

gdp_gnp_df.head()

,STATISTIC,Statistic Label,TLIST(Q1),Quarter,C02196V02652,State,UNIT,VALUE,Year,Quarter No
0,NAQ03C01,GVA at Constant Basic Prices,19951,1995Q1,-,State,Euro Million,21283,1995,1
1,NAQ03C01,GVA at Constant Basic Prices,19952,1995Q2,-,State,Euro Million,22083,1995,2
2,NAQ03C01,GVA at Constant Basic Prices,19953,1995Q3,-,State,Euro Million,22529,1995,3
3,NAQ03C01,GVA at Constant Basic Prices,19954,1995Q4,-,State,Euro Million,22342,1995,4
4,NAQ03C01,GVA at Constant Basic Prices,19961,1996Q1,-,State,Euro Million,22989,1996,1

In [43]:
# Validate only one denomination value in the 'UNIT' column
gdp_gnp_df['State'].unique()

array(['State'], dtype=object)

In [44]:
# Validate only one denomination value in the 'UNIT' column
gdp_gnp_df['UNIT'].unique()

array(['Euro Million'], dtype=object)

* It's fine to drop those additional columns as they are not serving the dataset now that I've gotten my subset

In [45]:
# we don't want these columns
gdp_gnp_df.drop(['STATISTIC', 'TLIST(Q1)', 'Quarter', 'C02196V02652', 'State', 'UNIT'], axis = 1, inplace = True)

gdp_gnp_df

,Statistic Label,VALUE,Year,Quarter No
0,GVA at Constant Basic Prices,21283,1995,1
1,GVA at Constant Basic Prices,22083,1995,2
2,GVA at Constant Basic Prices,22529,1995,3
3,GVA at Constant Basic Prices,22342,1995,4
4,GVA at Constant Basic Prices,22989,1996,1
...,...,...,...,...
2731,GNP at Current Market Prices (Seasonally Adjus...,93287,2022,2
2732,GNP at Current Market Prices (Seasonally Adjus...,89542,2022,3
2733,GNP at Current Market Prices (Seasonally Adjus...,93467,2022,4
2734,GNP at Current Market Prices (Seasonally Adjus...,88873,2023,1
2735,GNP at Current Market Prices (Seasonally Adjus...,102104,2023,2

In [46]:
# Check for each 'Statistic Label' & 'Year' grouping to ensure there are 4 'Quarter No' values
grouped = gdp_gnp_df.groupby(['Statistic Label', 'Year'])['Quarter No'].nunique().reset_index()
grouped['Check'] = grouped['Quarter No'] == 4

grouped

,Statistic Label,Year,Quarter No,Check
0,GDP at Constant Market Prices,1995,4,True
1,GDP at Constant Market Prices,1996,4,True
2,GDP at Constant Market Prices,1997,4,True
3,GDP at Constant Market Prices,1998,4,True
4,GDP at Constant Market Prices,1999,4,True
...,...,...,...,...
691,Taxes on Products at Current Prices (Seasonall...,2019,4,True
692,Taxes on Products at Current Prices (Seasonall...,2020,4,True
693,Taxes on Products at Current Prices (Seasonall...,2021,4,True
694,Taxes on Products at Current Prices (Seasonall...,2022,4,True
695,Taxes on Products at Current Prices (Seasonall...,2023,2,False

In [47]:
# Filter the 'grouped' dataframe to include only rows where 'Check' is False
filtered_grouped = grouped[grouped['Check'] == False]

filtered_grouped

,Statistic Label,Year,Quarter No,Check
28,GDP at Constant Market Prices,2023,2,False
57,GDP at Constant Market Prices (Seasonally Adju...,2023,2,False
86,GDP at Current Market Prices,2023,2,False
115,GDP at Current Market Prices (Seasonally Adjus...,2023,2,False
144,GNP at Constant Market Prices,2023,2,False
173,GNP at Constant Market Prices (Seasonally Adju...,2023,2,False
202,GNP at Current Market Prices,2023,2,False
231,GNP at Current Market Prices (Seasonally Adjus...,2023,2,False
260,GVA at Constant Basic Prices,2023,2,False
289,GVA at Constant Basic Prices (Seasonally Adjus...,2023,2,False
318,GVA at Current Basic Prices,2023,2,False
347,GVA at Current Basic Prices (Seasonally Adjusted),2023,2,False
376,Net Factor Income from Rest of World,2023,2,False
405,Net Factor Income from Rest of World (Seasonal...,2023,2,False
434,Net Factor Income from Rest of World at Curren...,2023,2,False
463,Net Factor Income from Rest of World at Curren...,2023,2,False
492,Subsidies on Products,2023,2,False
521,Subsidies on Products (chain linked annually r...,2023,2,False
550,Subsidies on Products at Current Prices,2023,2,False
579,Subsidies on Products at Current Prices (Seaso...,2023,2,False
608,Taxes on Products,2023,2,False
637,Taxes on Products (Seasonally Adjusted),2023,2,False
666,Taxes on Products at Current Prices,2023,2,False
695,Taxes on Products at Current Prices (Seasonall...,2023,2,False

* Only 2023 hasn't got 4 quarters worth of data, for purpose of analysis I'll only be analysing full years worth of data

* rename columns

In [48]:
# Rename columns
gdp_gnp_df.rename(columns = {'VALUE': 'Value (Mn.)'}, inplace = True)

# Validate changes
gdp_gnp_df.head()

                Statistic Label  Value (Mn.)  Year Quarter No
0  GVA at Constant Basic Prices        21283  1995          1
1  GVA at Constant Basic Prices        22083  1995          2
2  GVA at Constant Basic Prices        22529  1995          3
3  GVA at Constant Basic Prices        22342  1995          4
4  GVA at Constant Basic Prices        22989  1996          1

* Create an additional column for the 'Value (K)' in the raw format

In [49]:
gdp_gnp_df['Value'] = gdp_gnp_df['Value (Mn.)'] * 1000000

gdp_gnp_df

,Statistic Label,Value (Mn.),Year,Quarter No,Value
0,GVA at Constant Basic Prices,21283,1995,1,21283000000
1,GVA at Constant Basic Prices,22083,1995,2,22083000000
2,GVA at Constant Basic Prices,22529,1995,3,22529000000
3,GVA at Constant Basic Prices,22342,1995,4,22342000000
4,GVA at Constant Basic Prices,22989,1996,1,22989000000
...,...,...,...,...,...
2731,GNP at Current Market Prices (Seasonally Adjus...,93287,2022,2,93287000000
2732,GNP at Current Market Prices (Seasonally Adjus...,89542,2022,3,89542000000
2733,GNP at Current Market Prices (Seasonally Adjus...,93467,2022,4,93467000000
2734,GNP at Current Market Prices (Seasonally Adjus...,88873,2023,1,88873000000
2735,GNP at Current Market Prices (Seasonally Adjus...,102104,2023,2,102104000000

In [50]:
# we don't need the 'Value (Mn.)' column anymore
gdp_gnp_df.drop(['Value (Mn.)'], axis = 1, inplace = True)

gdp_gnp_df

,Statistic Label,Year,Quarter No,Value
0,GVA at Constant Basic Prices,1995,1,21283000000
1,GVA at Constant Basic Prices,1995,2,22083000000
2,GVA at Constant Basic Prices,1995,3,22529000000
3,GVA at Constant Basic Prices,1995,4,22342000000
4,GVA at Constant Basic Prices,1996,1,22989000000
...,...,...,...,...
2731,GNP at Current Market Prices (Seasonally Adjus...,2022,2,93287000000
2732,GNP at Current Market Prices (Seasonally Adjus...,2022,3,89542000000
2733,GNP at Current Market Prices (Seasonally Adjus...,2022,4,93467000000
2734,GNP at Current Market Prices (Seasonally Adjus...,2023,1,88873000000
2735,GNP at Current Market Prices (Seasonally Adjus...,2023,2,102104000000

* Check and remove duplicates
* Because I removed the 'Age Group' classification columns, I need to remove duplicates values

In [51]:
# Total number of rows and columns
print('gdp_gnp_df shape:')
print(gdp_gnp_df.shape)
print()

# Rows containing duplicate data
gdp_gnp_dup_rows_df = gdp_gnp_df[gdp_gnp_df.duplicated()]
print('Number of duplicate rows:')
print(gdp_gnp_dup_rows_df.shape)
print()

# Used to count the number of rows before removing the data
print('Row count before removing duplicates:')
print()
print(gdp_gnp_df.count())
print()

# Dropping the duplicates
gdp_gnp_df = gdp_gnp_df.drop_duplicates()

# Counting the number of rows after removing duplicates.
print('Row count after removing duplicates:')
print()
print(gdp_gnp_df.count())
print()

gdp_gnp_df shape:
(2736, 4)

Number of duplicate rows:
(0, 4)

Row count before removing duplicates:

Statistic Label    2736
Year               2736
Quarter No         2736
Value              2736
dtype: int64

Row count after removing duplicates:

Statistic Label    2736
Year               2736
Quarter No         2736
Value              2736
dtype: int64

In [52]:
# Convert selected columns to 'int'
gdp_gnp_df['Year'] = gdp_gnp_df['Year'].astype('int64')

# Validate the results
gdp_gnp_df.dtypes

Statistic Label    object
Year                int64
Quarter No         object
Value               int64
dtype: object

In [53]:
# Use pivot_table to aggregate the 'Value' column by sum for each combination of 'Year' and 'Statistic Label'
gdp_gnp_pivot_df = gdp_gnp_df.pivot_table(index = 'Year', columns = 'Statistic Label', values = 'Value', aggfunc = 'sum')

gdp_gnp_pivot_df

Statistic Label,GDP at Constant Market Prices,GDP at Constant Market Prices (Seasonally Adjusted),GDP at Current Market Prices,GDP at Current Market Prices (Seasonally Adjusted),GNP at Constant Market Prices,GNP at Constant Market Prices (Seasonally Adjusted),GNP at Current Market Prices,GNP at Current Market Prices (Seasonally Adjusted),GVA at Constant Basic Prices,GVA at Constant Basic Prices (Seasonally Adjusted),GVA at Current Basic Prices,GVA at Current Basic Prices (Seasonally Adjusted),Net Factor Income from Rest of World,Net Factor Income from Rest of World (Seasonally Adjusted),Net Factor Income from Rest of World at Current Prices,Net Factor Income from Rest of World at Current Prices (Seasonally Adjusted),Subsidies on Products,Subsidies on Products (chain linked annually ref to 2019) (Seasonally Adjusted),Subsidies on Products at Current Prices,Subsidies on Products at Current Prices (Seasonally Adjusted),Taxes on Products,Taxes on Products (Seasonally Adjusted),Taxes on Products at Current Prices,Taxes on Products at Current Prices (Seasonally Adjusted)
Year,,,,,,,,,,,,,,,,,,,,,,,,
1995,96861000000,99549000000,54759000000,54635000000,93108000000,92550000000,48811000000,48701000000,88237000000,91072000000,49142000000,49026000000,-7025000000,-7000000000,-5948000000,-5934000000,-2170000000,-2207000000,-1412000000,-1416000000,10687000000,10684000000,7028000000,7025000000
1996,104008000000,106556000000,60147000000,60073000000,99625000000,98830000000,53611000000,53561000000,94508000000,97258000000,53997000000,53938000000,-7762000000,-7725000000,-6535000000,-6513000000,-2479000000,-2531000000,-1610000000,-1620000000,11828000000,11828000000,7759000000,7759000000
1997,115473000000,117696000000,69400000000,69327000000,109294000000,108299000000,61361000000,61321000000,104317000000,106816000000,62207000000,62132000000,-9456000000,-9397000000,-8040000000,-8005000000,-2527000000,-2567000000,-1644000000,-1649000000,13434000000,13446000000,8837000000,8844000000
1998,125594000000,128240000000,80431000000,80568000000,117567000000,117146000000,70880000000,71044000000,112817000000,115760000000,72024000000,72118000000,-11148000000,-11092000000,-9550000000,-9523000000,-2505000000,-2504000000,-1670000000,-1649000000,14951000000,14984000000,10076000000,10098000000
1999,138819000000,141165000000,92791000000,92740000000,127088000000,126872000000,79512000000,79471000000,123893000000,126608000000,82822000000,82726000000,-14334000000,-14292000000,-13278000000,-13268000000,-2317000000,-2339000000,-1568000000,-1567000000,16833000000,16896000000,11536000000,11582000000
2000,151873000000,153085000000,108496000000,108137000000,138791000000,137248000000,93169000000,92795000000,135161000000,136855000000,96723000000,96361000000,-15850000000,-15838000000,-15327000000,-15339000000,-2303000000,-2327000000,-1643000000,-1646000000,18555000000,18558000000,13416000000,13422000000
2001,159932000000,161749000000,122089000000,121893000000,141356000000,141713000000,102947000000,102724000000,143313000000,145617000000,109836000000,109638000000,-20022000000,-20035000000,-19142000000,-19170000000,-1905000000,-1903000000,-1428000000,-1418000000,18052000000,18035000000,13682000000,13675000000
2002,169366000000,170946000000,135998000000,135858000000,144707000000,145889000000,112266000000,112074000000,152258000000,154330000000,122822000000,122655000000,-25002000000,-25056000000,-23732000000,-23785000000,-2400000000,-2382000000,-1894000000,-1864000000,19003000000,18998000000,15070000000,15066000000
2003,174471000000,178082000000,145577000000,145530000000,151555000000,154276000000,123807000000,123693000000,156260000000,160391000000,131046000000,130997000000,-23724000000,-23806000000,-21770000000,-21837000000,-2316000000,-2317000000,-1891000000,-1881000000,20017000000,20008000000,16422000000,16414000000
2004,186315000000,189538000000,156259000000,156124000000,162276000000,164513000000,133268000000,133078000000,166155000000,169900000000,139793000000,139634000000,-24949000000,-25025000000,-22991000000,-23046000000,-2285000000,-2325000000,-1907000000,-1930000000,21916000000,21962000000,18376000000,18419000000
2005,197008000000,200999000000,170306000000,170364000000,171101000000,174100000000,145488000000,145492000000,174006000000,178511000000,151023000000,151031000000,-26815000000,-26899000000,-24820000000,-24872000000,-1597000000,-1586000000,-1365000000,-1350000000,24045000000,24074000000,20648000000,20685000000
2006,206834000000,211432000000,184916000000,184602000000,180814000000,184274000000,160640000000,160265000000,181212000000,186407000000,162555000000,162241000000,-27071000000,-27158000000,-24276000000,-24337000000,-1203000000,-1208000000,-1066000000,-1073000000,26257000000,26234000000,23429000000,23433000000
2007,217818000000,222452000000,197070000000,196797000000,187527000000,190962000000,168920000000,168555000000,192763000000,198007000000,174203000000,173927000000,-31370000000,-31489000000,-28149000000,-28242000000,-1276000000,-1281000000,-1189000000,-1193000000,25724000000,25726000000,24055000000,24063000000
2008,208051000000,212843000000,187283000000,187182000000,180139000000,183825000000,160567000000,160393000000,187712000000,193048000000,167950000000,167945000000,-28940000000,-29018000000,-26717000000,-26788000000,-1316000000,-1327000000,-1277000000,-1286000000,21196000000,21121000000,20610000000,20521000000
2009,197450000000,201304000000,169520000000,169660000000,165003000000,168022000000,140107000000,140186000000,180811000000,184891000000,154270000000,154426000000,-33216000000,-33283000000,-29414000000,-29474000000,-1349000000,-1345000000,-1249000000,-1245000000,17765000000,17759000000,16500000000,16480000000
2010,200772000000,203288000000,167392000000,167248000000,171011000000,172583000000,139440000000,139267000000,184048000000,186766000000,152193000000,152053000000,-30675000000,-30704000000,-27950000000,-27981000000,-1211000000,-1204000000,-1110000000,-1103000000,17724000000,17727000000,16309000000,16298000000
2011,203343000000,205729000000,171824000000,171740000000,166763000000,168861000000,138434000000,138340000000,187495000000,189949000000,156967000000,156857000000,-36829000000,-36867000000,-33389000000,-33400000000,-1155000000,-1152000000,-1088000000,-1083000000,16902000000,16931000000,15945000000,15965000000
2012,203080000000,205528000000,175219000000,174591000000,166053000000,168299000000,140248000000,139636000000,187102000000,189677000000,160005000000,159386000000,-37235000000,-37229000000,-34971000000,-34955000000,-1176000000,-1171000000,-1127000000,-1120000000,17035000000,17022000000,16342000000,16325000000
2013,205466000000,209177000000,179285000000,178813000000,175230000000,178005000000,150326000000,149869000000,188780000000,192713000000,163369000000,162943000000,-31173000000,-31173000000,-28958000000,-28945000000,-1121000000,-1131000000,-1079000000,-1087000000,17630000000,17594000000,16995000000,16958000000
2014,223606000000,226613000000,195471000000,195133000000,191298000000,193227000000,164357000000,163996000000,205224000000,208369000000,177924000000,177517000000,-33373000000,-33385000000,-31113000000,-31137000000,-1017000000,-1021000000,-982000000,-985000000,19184000000,19265000000,18528000000,18601000000
2015,278334000000,276802000000,263507000000,263527000000,215863000000,214718000000,201727000000,201702000000,258944000000,257302000000,244748000000,244751000000,-62054000000,-62084000000,-61780000000,-61826000000,-930000000,-931000000,-893000000,-895000000,20408000000,20431000000,19652000000,19670000000
2016,283248000000,283212000000,269725000000,268863000000,231361000000,230995000000,218882000000,217935000000,262607000000,262463000000,249776000000,248881000000,-52180000000,-52217000000,-50842000000,-50928000000,-975000000,-976000000,-937000000,-938000000,21690000000,21728000000,20886000000,20923000000
2017,309621000000,311414000000,298529000000,297614000000,246086000000,247688000000,236490000000,235461000000,288222000000,289971000000,277760000000,276895000000,-63658000000,-63727000000,-62039000000,-62153000000,-993000000,-994000000,-958000000,-960000000,22488000000,22439000000,21727000000,21677000000
2018,335849000000,338237000000,327441000000,327034000000,260724000000,262942000000,252978000000,252360000000,313888000000,316200000000,306014000000,305644000000,-75171000000,-75296000000,-74463000000,-74674000000,-1054000000,-1055000000,-1022000000,-1024000000,23120000000,23094000000,22449000000,22414000000
2019,353641000000,357062000000,356357000000,355849000000,273940000000,277167000000,275583000000,274796000000,330084000000,333351000000,333161000000,332619000000,-79735000000,-79894000000,-80774000000,-81052000000,-1072000000,-1071000000,-1049000000,-1049000000,24742000000,24782000000,24246000000,24277000000
2020,377042000000,377858000000,375250000000,375272000000,283779000000,284454000000,282917000000,282611000000,356769000000,357595000000,355478000000,355504000000,-93243000000,-93405000000,-92333000000,-92663000000,-1397000000,-1400000000,-1361000000,-1366000000,21644000000,21662000000,21134000000,21134000000
2021,434069000000,433594000000,434070000000,433258000000,323313000000,322699000000,323314000000,322211000000,409387000000,408779000000,409386000000,408459000000,-110756000000,-110895000000,-110756000000,-111046000000,-1662000000,-1659000000,-1661000000,-1659000000,26345000000,26475000000,26345000000,26457000000
2022,475016000000,474968000000,506282000000,506025000000,335904000000,335769000000,362876000000,362399000000,450216000000,450233000000,479584000000,479389000000,-139112000000,-139201000000,-143406000000,-143626000000,-1657000000,-1659000000,-1790000000,-1786000000,26459000000,26394000000,28487000000,28425000000
2023,228329000000,234206000000,251287000000,257744000000,162392000000,170868000000,181865000000,190977000000,216858000000,222069000000,238336000000,243930000000,-65938000000,-63339000000,-69422000000,-66767000000,-752000000,-796000000,-851000000,-896000000,12223000000,12934000000,13802000000,14710000000

In [54]:
gdp_gnp_pivot_df = gdp_gnp_pivot_df.loc[1998:2022]

gdp_gnp_pivot_df

Statistic Label,GDP at Constant Market Prices,GDP at Constant Market Prices (Seasonally Adjusted),GDP at Current Market Prices,GDP at Current Market Prices (Seasonally Adjusted),GNP at Constant Market Prices,GNP at Constant Market Prices (Seasonally Adjusted),GNP at Current Market Prices,GNP at Current Market Prices (Seasonally Adjusted),GVA at Constant Basic Prices,GVA at Constant Basic Prices (Seasonally Adjusted),GVA at Current Basic Prices,GVA at Current Basic Prices (Seasonally Adjusted),Net Factor Income from Rest of World,Net Factor Income from Rest of World (Seasonally Adjusted),Net Factor Income from Rest of World at Current Prices,Net Factor Income from Rest of World at Current Prices (Seasonally Adjusted),Subsidies on Products,Subsidies on Products (chain linked annually ref to 2019) (Seasonally Adjusted),Subsidies on Products at Current Prices,Subsidies on Products at Current Prices (Seasonally Adjusted),Taxes on Products,Taxes on Products (Seasonally Adjusted),Taxes on Products at Current Prices,Taxes on Products at Current Prices (Seasonally Adjusted)
Year,,,,,,,,,,,,,,,,,,,,,,,,
1998,125594000000,128240000000,80431000000,80568000000,117567000000,117146000000,70880000000,71044000000,112817000000,115760000000,72024000000,72118000000,-11148000000,-11092000000,-9550000000,-9523000000,-2505000000,-2504000000,-1670000000,-1649000000,14951000000,14984000000,10076000000,10098000000
1999,138819000000,141165000000,92791000000,92740000000,127088000000,126872000000,79512000000,79471000000,123893000000,126608000000,82822000000,82726000000,-14334000000,-14292000000,-13278000000,-13268000000,-2317000000,-2339000000,-1568000000,-1567000000,16833000000,16896000000,11536000000,11582000000
2000,151873000000,153085000000,108496000000,108137000000,138791000000,137248000000,93169000000,92795000000,135161000000,136855000000,96723000000,96361000000,-15850000000,-15838000000,-15327000000,-15339000000,-2303000000,-2327000000,-1643000000,-1646000000,18555000000,18558000000,13416000000,13422000000
2001,159932000000,161749000000,122089000000,121893000000,141356000000,141713000000,102947000000,102724000000,143313000000,145617000000,109836000000,109638000000,-20022000000,-20035000000,-19142000000,-19170000000,-1905000000,-1903000000,-1428000000,-1418000000,18052000000,18035000000,13682000000,13675000000
2002,169366000000,170946000000,135998000000,135858000000,144707000000,145889000000,112266000000,112074000000,152258000000,154330000000,122822000000,122655000000,-25002000000,-25056000000,-23732000000,-23785000000,-2400000000,-2382000000,-1894000000,-1864000000,19003000000,18998000000,15070000000,15066000000
2003,174471000000,178082000000,145577000000,145530000000,151555000000,154276000000,123807000000,123693000000,156260000000,160391000000,131046000000,130997000000,-23724000000,-23806000000,-21770000000,-21837000000,-2316000000,-2317000000,-1891000000,-1881000000,20017000000,20008000000,16422000000,16414000000
2004,186315000000,189538000000,156259000000,156124000000,162276000000,164513000000,133268000000,133078000000,166155000000,169900000000,139793000000,139634000000,-24949000000,-25025000000,-22991000000,-23046000000,-2285000000,-2325000000,-1907000000,-1930000000,21916000000,21962000000,18376000000,18419000000
2005,197008000000,200999000000,170306000000,170364000000,171101000000,174100000000,145488000000,145492000000,174006000000,178511000000,151023000000,151031000000,-26815000000,-26899000000,-24820000000,-24872000000,-1597000000,-1586000000,-1365000000,-1350000000,24045000000,24074000000,20648000000,20685000000
2006,206834000000,211432000000,184916000000,184602000000,180814000000,184274000000,160640000000,160265000000,181212000000,186407000000,162555000000,162241000000,-27071000000,-27158000000,-24276000000,-24337000000,-1203000000,-1208000000,-1066000000,-1073000000,26257000000,26234000000,23429000000,23433000000
2007,217818000000,222452000000,197070000000,196797000000,187527000000,190962000000,168920000000,168555000000,192763000000,198007000000,174203000000,173927000000,-31370000000,-31489000000,-28149000000,-28242000000,-1276000000,-1281000000,-1189000000,-1193000000,25724000000,25726000000,24055000000,24063000000
2008,208051000000,212843000000,187283000000,187182000000,180139000000,183825000000,160567000000,160393000000,187712000000,193048000000,167950000000,167945000000,-28940000000,-29018000000,-26717000000,-26788000000,-1316000000,-1327000000,-1277000000,-1286000000,21196000000,21121000000,20610000000,20521000000
2009,197450000000,201304000000,169520000000,169660000000,165003000000,168022000000,140107000000,140186000000,180811000000,184891000000,154270000000,154426000000,-33216000000,-33283000000,-29414000000,-29474000000,-1349000000,-1345000000,-1249000000,-1245000000,17765000000,17759000000,16500000000,16480000000
2010,200772000000,203288000000,167392000000,167248000000,171011000000,172583000000,139440000000,139267000000,184048000000,186766000000,152193000000,152053000000,-30675000000,-30704000000,-27950000000,-27981000000,-1211000000,-1204000000,-1110000000,-1103000000,17724000000,17727000000,16309000000,16298000000
2011,203343000000,205729000000,171824000000,171740000000,166763000000,168861000000,138434000000,138340000000,187495000000,189949000000,156967000000,156857000000,-36829000000,-36867000000,-33389000000,-33400000000,-1155000000,-1152000000,-1088000000,-1083000000,16902000000,16931000000,15945000000,15965000000
2012,203080000000,205528000000,175219000000,174591000000,166053000000,168299000000,140248000000,139636000000,187102000000,189677000000,160005000000,159386000000,-37235000000,-37229000000,-34971000000,-34955000000,-1176000000,-1171000000,-1127000000,-1120000000,17035000000,17022000000,16342000000,16325000000
2013,205466000000,209177000000,179285000000,178813000000,175230000000,178005000000,150326000000,149869000000,188780000000,192713000000,163369000000,162943000000,-31173000000,-31173000000,-28958000000,-28945000000,-1121000000,-1131000000,-1079000000,-1087000000,17630000000,17594000000,16995000000,16958000000
2014,223606000000,226613000000,195471000000,195133000000,191298000000,193227000000,164357000000,163996000000,205224000000,208369000000,177924000000,177517000000,-33373000000,-33385000000,-31113000000,-31137000000,-1017000000,-1021000000,-982000000,-985000000,19184000000,19265000000,18528000000,18601000000
2015,278334000000,276802000000,263507000000,263527000000,215863000000,214718000000,201727000000,201702000000,258944000000,257302000000,244748000000,244751000000,-62054000000,-62084000000,-61780000000,-61826000000,-930000000,-931000000,-893000000,-895000000,20408000000,20431000000,19652000000,19670000000
2016,283248000000,283212000000,269725000000,268863000000,231361000000,230995000000,218882000000,217935000000,262607000000,262463000000,249776000000,248881000000,-52180000000,-52217000000,-50842000000,-50928000000,-975000000,-976000000,-937000000,-938000000,21690000000,21728000000,20886000000,20923000000
2017,309621000000,311414000000,298529000000,297614000000,246086000000,247688000000,236490000000,235461000000,288222000000,289971000000,277760000000,276895000000,-63658000000,-63727000000,-62039000000,-62153000000,-993000000,-994000000,-958000000,-960000000,22488000000,22439000000,21727000000,21677000000
2018,335849000000,338237000000,327441000000,327034000000,260724000000,262942000000,252978000000,252360000000,313888000000,316200000000,306014000000,305644000000,-75171000000,-75296000000,-74463000000,-74674000000,-1054000000,-1055000000,-1022000000,-1024000000,23120000000,23094000000,22449000000,22414000000
2019,353641000000,357062000000,356357000000,355849000000,273940000000,277167000000,275583000000,274796000000,330084000000,333351000000,333161000000,332619000000,-79735000000,-79894000000,-80774000000,-81052000000,-1072000000,-1071000000,-1049000000,-1049000000,24742000000,24782000000,24246000000,24277000000
2020,377042000000,377858000000,375250000000,375272000000,283779000000,284454000000,282917000000,282611000000,356769000000,357595000000,355478000000,355504000000,-93243000000,-93405000000,-92333000000,-92663000000,-1397000000,-1400000000,-1361000000,-1366000000,21644000000,21662000000,21134000000,21134000000
2021,434069000000,433594000000,434070000000,433258000000,323313000000,322699000000,323314000000,322211000000,409387000000,408779000000,409386000000,408459000000,-110756000000,-110895000000,-110756000000,-111046000000,-1662000000,-1659000000,-1661000000,-1659000000,26345000000,26475000000,26345000000,26457000000
2022,475016000000,474968000000,506282000000,506025000000,335904000000,335769000000,362876000000,362399000000,450216000000,450233000000,479584000000,479389000000,-139112000000,-139201000000,-143406000000,-143626000000,-1657000000,-1659000000,-1790000000,-1786000000,26459000000,26394000000,28487000000,28425000000

In [55]:
# Count of unique values in 'Year' column
# unique_year_count = len(pop_change_df['Year'].unique())

# print(f"The number of unique values in the 'Year' column is {unique_year_count}.")

In [56]:
# Validate only time period remains
# pop_change_df['Year'].unique()

* Change data types

In [57]:
# Print a concise summary of the df
# pop_est_df.info()

In [58]:
# Convert selected columns to 'int'
# pop_change_df['Value'] = pop_change_df['Value'].astype('int64')

# Validate the results
# pop_change_df.dtypes

* Identifying null values

In [59]:
# Finding the null values
# print(pop_change_df.isnull().sum())

In [60]:
# Generate descriptive statistics for numeric attributes
# pop_change_df.describe(include = 'all')

* Reducing the time period for analysis resolved the issue with the missing values in the 'VALUE' column, assumption is that in previous years data collection may not have been as advanced as it has been since 2013
* The values in 'TLIST(A1)' and 'Year' are the same, which would indicate at 1:1 mapping, will be verified in subsequent steps
* 'Year' 
    * Min & Max year as expected
* 'VALUE':
    * min & max, quite a large distribution
    * mean very different from the 50% (median)
    * likely explained by the different

In [61]:
# pop_change_pivot_df.to_csv('pop_change_pivot_df.csv')