# Exploring Population Trends in Ireland ☘️
***

### Name: Stephen Hasson
### Student No: sba23014
### Student Email: sba23014@student.cct.ie
### Course: CCT MSC in Data Analytics
### Assignment: MSC_DA_CA1
### Year: Sept-23 Intake
### Data Source: https://data.cso.ie/product/pme
***

## Table of Contents

### 1. [Data Cleaning](#Data-Cleaning)
### 2. [Data Cleaning](#Data-Cleaning)
### 3. [Data Cleaning](#Data-Cleaning)
### 4. [Data Cleaning](#Data-Cleaning)
### 5. [Data Cleaning](#Data-Cleaning)
### 6. [Data Cleaning](#Data-Cleaning)
### 7. [Data Cleaning](#Data-Cleaning)
### 8. [Data Cleaning](#Data-Cleaning)
### 9. [Data Cleaning](#Data-Cleaning)
### 10. [Data Cleaning](#Data-Cleaning)
***

## 1. Import packages & load data

In [1]:
# Import eda & visualisation packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Import machine learning packages from sklearn
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import r2_score

# Configure default colour scheme for seaborn
sns.set(color_codes=True)

# Display all columns of the pandas df
pd.set_option('display.max_columns', None)

In [2]:
# Specify the url of the 'xxx' dataset, saved in github account
pop_change_url = 'https://raw.githubusercontent.com/sba23014/cct_msc_data_analytics/main/s1_ca1/datasets/20230925_annual_population_change_1951_to_2023.csv'
pop_est_url = 'https://raw.githubusercontent.com/sba23014/cct_msc_data_analytics/main/s1_ca1/datasets/20230925_population_estimates_1950_to_2023.csv'
gdp_gnp_url = 'https://raw.githubusercontent.com/sba23014/cct_msc_data_analytics/main/s1_ca1/datasets/20230901_gdp_%26_gnp_1995_to_2023.csv'

# Read files from the github url's into the pandas DataFrame (df)
pop_change_df = pd.read_csv(pop_change_url)
pop_est_df = pd.read_csv(pop_est_url)
gdp_gnp_df = pd.read_csv(gdp_gnp_url)

In [3]:
# Return the first 5 rows to validate df creation
pop_change_df.head()

,STATISTIC,STATISTIC Label,TLIST(A1),Year,C02541V03076,Component,UNIT,VALUE
0,PEA15,Annual Population Change,1951,1951,1,Annual births,Thousand,NaN
1,PEA15,Annual Population Change,1951,1951,2,Annual deaths,Thousand,NaN
2,PEA15,Annual Population Change,1951,1951,3,Natural increase,Thousand,26.6
3,PEA15,Annual Population Change,1951,1951,4,Immigrants,Thousand,NaN
4,PEA15,Annual Population Change,1951,1951,5,Emigrants,Thousand,NaN

In [4]:
# Return the first 5 rows to validate df creation
pop_est_df.head()

,STATISTIC,STATISTIC Label,TLIST(A1),Year,C02076V02508,Age Group,C02199V02655,Sex,UNIT,VALUE
0,PEA01,Population Estimates (Persons in April),1950,1950,200,Under 1 year,-,Both sexes,Thousand,61.1
1,PEA01,Population Estimates (Persons in April),1950,1950,200,Under 1 year,1,Male,Thousand,31.4
2,PEA01,Population Estimates (Persons in April),1950,1950,200,Under 1 year,2,Female,Thousand,29.7
3,PEA01,Population Estimates (Persons in April),1950,1950,205,0 - 4 years,-,Both sexes,Thousand,NaN
4,PEA01,Population Estimates (Persons in April),1950,1950,205,0 - 4 years,1,Male,Thousand,NaN

In [5]:
# Return the first 5 rows to validate df creation
gdp_gnp_df.head()

,STATISTIC,Statistic Label,TLIST(Q1),Quarter,C02196V02652,State,UNIT,VALUE
0,NAQ03C01,GVA at Constant Basic Prices,19951,1995Q1,-,State,Euro Million,21283
1,NAQ03C01,GVA at Constant Basic Prices,19952,1995Q2,-,State,Euro Million,22083
2,NAQ03C01,GVA at Constant Basic Prices,19953,1995Q3,-,State,Euro Million,22529
3,NAQ03C01,GVA at Constant Basic Prices,19954,1995Q4,-,State,Euro Million,22342
4,NAQ03C01,GVA at Constant Basic Prices,19961,1996Q1,-,State,Euro Million,22989

## 2. Initial data exploration & cleaning

## Exploring population '20230925_annual_population_change_1951_to_2023' dataset first

In [6]:
# Print the dimensionality of the df
pop_change_df.shape

(584, 8)

584 rows & 8 columns

In [7]:
# Return the first 15 rows to validate df creation
pop_change_df.head(15)

,STATISTIC,STATISTIC Label,TLIST(A1),Year,C02541V03076,Component,UNIT,VALUE
0,PEA15,Annual Population Change,1951,1951,1,Annual births,Thousand,NaN
1,PEA15,Annual Population Change,1951,1951,2,Annual deaths,Thousand,NaN
2,PEA15,Annual Population Change,1951,1951,3,Natural increase,Thousand,26.6
3,PEA15,Annual Population Change,1951,1951,4,Immigrants,Thousand,NaN
4,PEA15,Annual Population Change,1951,1951,5,Emigrants,Thousand,NaN
5,PEA15,Annual Population Change,1951,1951,6,Net migration,Thousand,-35.0
6,PEA15,Annual Population Change,1951,1951,7,Population change,Thousand,-8.4
7,PEA15,Annual Population Change,1951,1951,8,Population,Thousand,2960.6
8,PEA15,Annual Population Change,1952,1952,1,Annual births,Thousand,NaN
9,PEA15,Annual Population Change,1952,1952,2,Annual deaths,Thousand,NaN
10,PEA15,Annual Population Change,1952,1952,3,Natural increase,Thousand,27.3
11,PEA15,Annual Population Change,1952,1952,4,Immigrants,Thousand,NaN
12,PEA15,Annual Population Change,1952,1952,5,Emigrants,Thousand,NaN
13,PEA15,Annual Population Change,1952,1952,6,Net migration,Thousand,-35.0
14,PEA15,Annual Population Change,1952,1952,7,Population change,Thousand,-7.7

Notes: 
* Value column contains nulls
* There are several different unique 'Components', for meaningful results splitting this data will be essential
* Numerous 'system code' type columns: 'STATISTIC', 'TLIST(A1)', 'C02541V03076'
* Validate mapping of 'system code' type columns: 'STATISTIC', 'TLIST(A1)', 'C02541V03076' against labels, if 1:1 then drop as required
* 'C02541V03076' already in numeric datatype format, could be kept for ML purposes
* 'UNIT' column specifies the denomination of 'Value' column, this could be transformed to the correct value
* Based on date range in question several observations can be removed based on 'Year'
* Identifying what to do with 'Value' NaNs important

In [8]:
# Print a concise summary of the df
pop_change_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584 entries, 0 to 583
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATISTIC        584 non-null    object
 1   STATISTIC Label  584 non-null    object
 2   TLIST(A1)        584 non-null    int64
 3   Year             584 non-null    int64
 4   C02541V03076     584 non-null    int64
 5   Component        584 non-null    object
 6   UNIT             584 non-null    object
 7   VALUE            440 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 36.6+ KB

In [9]:
# Generate descriptive statistics for all attributes
pop_change_df.describe(include = 'all')

,STATISTIC,STATISTIC Label,TLIST(A1),Year,C02541V03076,Component,UNIT,VALUE
count,584,584,584.000000,584.000000,584.000000,584,584,440.000000
unique,1,1,NaN,NaN,NaN,8,1,NaN
top,PEA15,Annual Population Change,NaN,NaN,NaN,Annual births,Thousand,NaN
freq,584,584,NaN,NaN,NaN,73,584,NaN
mean,NaN,NaN,1987.000000,1987.000000,4.500000,NaN,NaN,633.262273
std,NaN,NaN,21.089371,21.089371,2.293252,NaN,NaN,1378.671718
min,NaN,NaN,1951.000000,1951.000000,1.000000,NaN,NaN,-58.000000
25%,NaN,NaN,1969.000000,1969.000000,2.750000,NaN,NaN,24.775000
50%,NaN,NaN,1987.000000,1987.000000,4.500000,NaN,NaN,35.550000
75%,NaN,NaN,2005.000000,2005.000000,6.250000,NaN,NaN,70.775000
max,NaN,NaN,2023.000000,2023.000000,8.000000,NaN,NaN,5281.600000

* Value column contains nulls
* Several rows are objects and don't have descriptive statistics
* Remaining columns all appear to have no missing values

* Check and remove duplicates

In [10]:
# Total number of rows and columns
print('pop_change_df shape:')
print(pop_change_df.shape)
print()

# Rows containing duplicate data
pop_change_dup_rows_df = pop_change_df[pop_change_df.duplicated()]
print('Number of duplicate rows:')
print(pop_change_dup_rows_df.shape)
print()

# Used to count the number of rows before removing the data
print('Row count before removing duplicates:')
print()
print(pop_change_df.count())
print()

# Dropping the duplicates
pop_change_df = pop_change_df.drop_duplicates()

# Counting the number of rows after removing duplicates.
print('Row count after removing duplicates:')
print()
print(pop_change_df.count())
print()

pop_change_df shape:
(584, 8)

Number of duplicate rows:
(0, 8)

Row count before removing duplicates:

STATISTIC          584
STATISTIC Label    584
TLIST(A1)          584
Year               584
C02541V03076       584
Component          584
UNIT               584
VALUE              440
dtype: int64

Row count after removing duplicates:

STATISTIC          584
STATISTIC Label    584
TLIST(A1)          584
Year               584
C02541V03076       584
Component          584
UNIT               584
VALUE              440
dtype: int64

* Numerous 'system code' type columns: 'STATISTIC', 'TLIST(A1)', 'C02541V03076'
* Validate that they are indeed 1:1 mapping, if so can drop additional columns

In [11]:
def verify_one_to_one_mapping(df, column1, column2):
    """
    Verifies if each unique value in column1 maps to a single unique value in column2.
    
    Parameters:
        df (DataFrame): The DataFrame containing the columns to be checked.
        column1 (str): The name of the first column.
        column2 (str): The name of the second column.
        
    Returns:
        bool: True if it's a 1:1 mapping, False otherwise.
    """
    
    # Group the DataFrame by column1 and get unique values in column2 for each group
    grouped = df.groupby(column1)[column2].unique().reset_index()
    
    # Check if each unique value in column1 maps to a single unique value in column2
    is_one_to_one = all(grouped[column2].apply(len) == 1)
    
    return is_one_to_one

In [12]:
# run code

statistic_mapping = verify_one_to_one_mapping(pop_change_df, 'STATISTIC', 'STATISTIC Label')
year_mapping = verify_one_to_one_mapping(pop_change_df, 'TLIST(A1)', 'Year')
component_mapping = verify_one_to_one_mapping(pop_change_df, 'C02541V03076', 'Component')

print('"STATISTIC" & "STATISTIC Label" mapping one-to-one:', statistic_mapping)
print('"TLIST(A1)" & "Year" mapping one-to-one:', year_mapping)
print('"C02541V03076" & "Component" mapping one-to-one:', component_mapping)

"STATISTIC" & "STATISTIC Label" mapping one-to-one: True
"TLIST(A1)" & "Year" mapping one-to-one: True
"C02541V03076" & "Component" mapping one-to-one: True

In [13]:
# Validate only one denomination value in the 'UNIT' column
pop_change_df['UNIT'].unique()

array(['Thousand'], dtype=object)

* It's fine to drop those additional columns as they are not serving the dataset

In [14]:
# we don't these columns
pop_change_df.drop(['STATISTIC', 'STATISTIC Label', 'TLIST(A1)', 'C02541V03076', 'UNIT'], axis = 1, inplace = True)

pop_change_df

     Year          Component   VALUE
0    1951      Annual births     NaN
1    1951      Annual deaths     NaN
2    1951   Natural increase    26.6
3    1951         Immigrants     NaN
4    1951          Emigrants     NaN
..    ...                ...     ...
579  2023         Immigrants   141.6
580  2023          Emigrants    64.0
581  2023      Net migration    77.6
582  2023  Population change    97.6
583  2023         Population  5281.6

[584 rows x 3 columns]

* Renaming columns

In [15]:
# Rename columns
pop_change_df.rename(columns = {'VALUE': 'Value (K)'}, inplace = True)

# Validate changes
pop_change_df.head()

   Year         Component  Value (K)
0  1951     Annual births        NaN
1  1951     Annual deaths        NaN
2  1951  Natural increase       26.6
3  1951        Immigrants        NaN
4  1951         Emigrants        NaN

* Create an additional column for the 'Value (K)' in the raw format

In [16]:
pop_change_df['Value'] = pop_change_df['Value (K)'] * 1000

pop_change_df

     Year          Component  Value (K)      Value
0    1951      Annual births        NaN        NaN
1    1951      Annual deaths        NaN        NaN
2    1951   Natural increase       26.6    26600.0
3    1951         Immigrants        NaN        NaN
4    1951          Emigrants        NaN        NaN
..    ...                ...        ...        ...
579  2023         Immigrants      141.6   141600.0
580  2023          Emigrants       64.0    64000.0
581  2023      Net migration       77.6    77600.0
582  2023  Population change       97.6    97600.0
583  2023         Population     5281.6  5281600.0

[584 rows x 4 columns]

In [17]:
# we don't need the 'Value (K)' column anymore
pop_change_df.drop(['Value (K)'], axis = 1, inplace = True)

pop_change_df

     Year          Component      Value
0    1951      Annual births        NaN
1    1951      Annual deaths        NaN
2    1951   Natural increase    26600.0
3    1951         Immigrants        NaN
4    1951          Emigrants        NaN
..    ...                ...        ...
579  2023         Immigrants   141600.0
580  2023          Emigrants    64000.0
581  2023      Net migration    77600.0
582  2023  Population change    97600.0
583  2023         Population  5281600.0

[584 rows x 3 columns]

In [18]:
# Validate unique component values
pop_change_df['Component'].unique()

array(['Annual births', 'Annual deaths', 'Natural increase', 'Immigrants',
       'Emigrants', 'Net migration', 'Population change', 'Population'],
      dtype=object)

* There are several components within the dataset, some of them measuring individual statistics and some which are calculated values e.g.
    * Natural increase = Annual births - Annual deaths
    * Net migration = Immigrants - Emigrants
    * Population change = Population - Population (previous year)
* Need to pivot the dataset so that there's only a single row per year, the component values are moved to columns

In [19]:
# Pivot the DataFrame so that unique 'Component' values become columns
pop_change_pivot_df = pop_change_df.pivot(index = 'Year', columns = 'Component', values = 'Value')

pop_change_pivot_df.head()

Component,Annual births,Annual deaths,Emigrants,Immigrants,Natural increase,Net migration,Population,Population change
Year,,,,,,,,
1951,NaN,NaN,NaN,NaN,26600.0,-35000.0,2960600.0,-8400.0
1952,NaN,NaN,NaN,NaN,27300.0,-35000.0,2952900.0,-7700.0
1953,NaN,NaN,NaN,NaN,29100.0,-33000.0,2949000.0,-3900.0
1954,NaN,NaN,NaN,NaN,28200.0,-36000.0,2941200.0,-7800.0
1955,NaN,NaN,NaN,NaN,24700.0,-45000.0,2920900.0,-20300.0

* Null values will be investigated once the data is joined

* Only care about the last 25 full years
* Drop any observations outside of range: >= 1998 AND <= 2022

In [20]:
pop_change_pivot_df = pop_change_pivot_df.loc[1998:2022]

pop_change_pivot_df

Component,Annual births,Annual deaths,Emigrants,Immigrants,Natural increase,Net migration,Population,Population change
Year,,,,,,,,
1998,52700.0,31200.0,28600.0,46000.0,21500.0,17400.0,3703100.0,38800.0
1999,53700.0,32400.0,31500.0,48900.0,21200.0,17300.0,3741600.0,38500.0
2000,54000.0,32100.0,26600.0,52600.0,21800.0,26000.0,3789500.0,47900.0
2001,55100.0,30200.0,26200.0,59000.0,24800.0,32800.0,3847200.0,57700.0
2002,58100.0,29300.0,25600.0,66900.0,28800.0,41300.0,3917200.0,70000.0
2003,60800.0,28900.0,29300.0,60000.0,31900.0,30700.0,3979900.0,62600.0
2004,62000.0,28600.0,26500.0,58500.0,33300.0,32000.0,4045200.0,65300.0
2005,61400.0,27900.0,29400.0,84600.0,33500.0,55100.0,4133800.0,88600.0
2006,61200.0,27000.0,36000.0,107800.0,34200.0,71800.0,4232900.0,106000.0
2007,66600.0,28400.0,46300.0,151100.0,38200.0,104800.0,4375800.0,142900.0
2008,73000.0,28000.0,49200.0,113500.0,44900.0,64300.0,4485100.0,109200.0
2009,75300.0,28600.0,72000.0,73700.0,46700.0,1600.0,4533400.0,48300.0
2010,77200.0,28400.0,69200.0,41800.0,48800.0,-27500.0,4554800.0,21400.0
2011,75100.0,27700.0,80600.0,53300.0,47500.0,-27400.0,4574900.0,20100.0
2012,73200.0,28700.0,83000.0,57300.0,44500.0,-25700.0,4593700.0,18800.0
2013,69400.0,29800.0,81300.0,62700.0,39600.0,-18700.0,4614700.0,21000.0
2014,68400.0,29200.0,75000.0,66500.0,39200.0,-8500.0,4645400.0,30800.0
2015,66400.0,29900.0,70000.0,75900.0,36500.0,5900.0,4687800.0,42300.0
2016,65400.0,29800.0,66200.0,82300.0,35600.0,16200.0,4739600.0,51800.0
2017,63400.0,31300.0,56100.0,95300.0,32100.0,39200.0,4810900.0,71300.0
2018,61600.0,32000.0,51600.0,96000.0,29600.0,44400.0,4884900.0,74000.0
2019,60500.0,30900.0,53100.0,97100.0,29600.0,44000.0,4958500.0,73600.0
2020,59100.0,32400.0,50900.0,95600.0,26700.0,44700.0,5029900.0,71400.0
2021,57300.0,34300.0,52300.0,74100.0,23000.0,21800.0,5074700.0,44800.0
2022,59700.0,33600.0,56100.0,107800.0,26100.0,51700.0,5184000.0,77800.0

In [21]:
# Count the number of observations (rows), ensure that it's 25
num_observations = len(pop_change_pivot_df)

num_observations

25

In [22]:
# Setting the index to 'Year'
pop_change_df.set_index('Year', inplace = True)

### Exploring population 20230925_population_estimates_1950_to_2023' dataset second

In [23]:
# Print the dimensionality of the df
pop_est_df.shape

(5994, 10)

In [24]:
# Return the first 15 rows to validate df creation
pop_est_df.head(15)

,STATISTIC,STATISTIC Label,TLIST(A1),Year,C02076V02508,Age Group,C02199V02655,Sex,UNIT,VALUE
0,PEA01,Population Estimates (Persons in April),1950,1950,200,Under 1 year,-,Both sexes,Thousand,61.1
1,PEA01,Population Estimates (Persons in April),1950,1950,200,Under 1 year,1,Male,Thousand,31.4
2,PEA01,Population Estimates (Persons in April),1950,1950,200,Under 1 year,2,Female,Thousand,29.7
3,PEA01,Population Estimates (Persons in April),1950,1950,205,0 - 4 years,-,Both sexes,Thousand,NaN
4,PEA01,Population Estimates (Persons in April),1950,1950,205,0 - 4 years,1,Male,Thousand,NaN
5,PEA01,Population Estimates (Persons in April),1950,1950,205,0 - 4 years,2,Female,Thousand,NaN
6,PEA01,Population Estimates (Persons in April),1950,1950,215,0 - 14 years,-,Both sexes,Thousand,851.2
7,PEA01,Population Estimates (Persons in April),1950,1950,215,0 - 14 years,1,Male,Thousand,434.6
8,PEA01,Population Estimates (Persons in April),1950,1950,215,0 - 14 years,2,Female,Thousand,416.6
9,PEA01,Population Estimates (Persons in April),1950,1950,225,1 - 4 years,-,Both sexes,Thousand,249.1
10,PEA01,Population Estimates (Persons in April),1950,1950,225,1 - 4 years,1,Male,Thousand,127.5
11,PEA01,Population Estimates (Persons in April),1950,1950,225,1 - 4 years,2,Female,Thousand,121.6
12,PEA01,Population Estimates (Persons in April),1950,1950,245,5 - 9 years,-,Both sexes,Thousand,278.9
13,PEA01,Population Estimates (Persons in April),1950,1950,245,5 - 9 years,1,Male,Thousand,142.3
14,PEA01,Population Estimates (Persons in April),1950,1950,245,5 - 9 years,2,Female,Thousand,136.6

Notes: 
* Value column contains nulls
* There are several different unique 'Sex' values, for meaningful results splitting this data will be essential
* Numerous 'system code' type columns: 'STATISTIC', 'TLIST(A1)', 'C02076V02508', 'C02199V02655'
* Validate mapping of 'system code' type columns: 'STATISTIC', 'TLIST(A1)', 'C02076V02508', 'C02199V02655' against labels, if 1:1 then drop as required
* 'UNIT' column specifies the denomination of 'Value' column, this could be transformed to the correct value
* Based on date range in question several observations can be removed based on 'Year'
* Identifying what to do with 'Value' NaNs important

In [25]:
# Print a concise summary of the df
pop_est_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5994 entries, 0 to 5993
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATISTIC        5994 non-null   object
 1   STATISTIC Label  5994 non-null   object
 2   TLIST(A1)        5994 non-null   int64
 3   Year             5994 non-null   int64
 4   C02076V02508     5994 non-null   object
 5   Age Group        5994 non-null   object
 6   C02199V02655     5994 non-null   object
 7   Sex              5994 non-null   object
 8   UNIT             5994 non-null   object
 9   VALUE            5880 non-null   float64
dtypes: float64(1), int64(2), object(7)
memory usage: 468.4+ KB

In [26]:
# Generate descriptive statistics for all attributes
pop_est_df.describe(include = 'all')

,STATISTIC,STATISTIC Label,TLIST(A1),Year,C02076V02508,Age Group,C02199V02655,Sex,UNIT,VALUE
count,5994,5994,5994.000000,5994.000000,5994,5994,5994,5994,5994,5880.000000
unique,1,1,NaN,NaN,27,27,3,3,1,NaN
top,PEA01,Population Estimates (Persons in April),NaN,NaN,200,Under 1 year,-,Both sexes,Thousand,NaN
freq,5994,5994,NaN,NaN,222,222,1998,1998,5994,NaN
mean,NaN,NaN,1986.500000,1986.500000,NaN,NaN,NaN,NaN,NaN,347.001088
std,NaN,NaN,21.361791,21.361791,NaN,NaN,NaN,NaN,NaN,601.822682
min,NaN,NaN,1950.000000,1950.000000,NaN,NaN,NaN,NaN,NaN,5.500000
25%,NaN,NaN,1968.000000,1968.000000,NaN,NaN,NaN,NaN,NaN,79.475000
50%,NaN,NaN,1986.500000,1986.500000,NaN,NaN,NaN,NaN,NaN,151.700000
75%,NaN,NaN,2005.000000,2005.000000,NaN,NaN,NaN,NaN,NaN,307.725000
max,NaN,NaN,2023.000000,2023.000000,NaN,NaN,NaN,NaN,NaN,5281.600000

* Value column contains nulls / missing values
* Several rows are objects and don't have descriptive statistics
* Remaining columns all appear to have no missing values

* Numerous 'system code' type columns: 'STATISTIC', 'TLIST(A1)', 'C02541V03076'
* Validate that they are indeed 1:1 mapping, if so can drop additional columns

In [27]:
# run code

statistic_mapping = verify_one_to_one_mapping(pop_est_df, 'STATISTIC', 'STATISTIC Label')
year_mapping = verify_one_to_one_mapping(pop_est_df, 'TLIST(A1)', 'Year')
component_mapping = verify_one_to_one_mapping(pop_est_df, 'C02076V02508', 'Age Group')
sex_mapping = verify_one_to_one_mapping(pop_est_df, 'C02199V02655', 'Sex')

print('"STATISTIC" & "STATISTIC Label" mapping one-to-one:', statistic_mapping)
print('"TLIST(A1)" & "Year" mapping one-to-one:', year_mapping)
print('"C02541V03076" & "Component" mapping one-to-one:', component_mapping)
print('"C02199V02655" & "Sex" mapping one-to-one:', sex_mapping)

"STATISTIC" & "STATISTIC Label" mapping one-to-one: True
"TLIST(A1)" & "Year" mapping one-to-one: True
"C02541V03076" & "Component" mapping one-to-one: True
"C02199V02655" & "Sex" mapping one-to-one: True

* Age group is not a variable I want investigate so I will filter the dataset to only include 'all ages'

In [28]:
# Filter the DataFrame to include only rows where 'Age Group' is 'All Ages'
pop_est_df = pop_est_df[pop_est_df['Age Group'] == 'All ages']

pop_est_df

,STATISTIC,STATISTIC Label,TLIST(A1),Year,C02076V02508,Age Group,C02199V02655,Sex,UNIT,VALUE
78,PEA01,Population Estimates (Persons in April),1950,1950,-,All ages,-,Both sexes,Thousand,2969.0
79,PEA01,Population Estimates (Persons in April),1950,1950,-,All ages,1,Male,Thousand,1510.0
80,PEA01,Population Estimates (Persons in April),1950,1950,-,All ages,2,Female,Thousand,1459.0
159,PEA01,Population Estimates (Persons in April),1951,1951,-,All ages,-,Both sexes,Thousand,2960.6
160,PEA01,Population Estimates (Persons in April),1951,1951,-,All ages,1,Male,Thousand,1506.6
...,...,...,...,...,...,...,...,...,...,...
5911,PEA01,Population Estimates (Persons in April),2022,2022,-,All ages,1,Male,Thousand,2562.0
5912,PEA01,Population Estimates (Persons in April),2022,2022,-,All ages,2,Female,Thousand,2622.0
5991,PEA01,Population Estimates (Persons in April),2023,2023,-,All ages,-,Both sexes,Thousand,5281.6
5992,PEA01,Population Estimates (Persons in April),2023,2023,-,All ages,1,Male,Thousand,2606.2
5993,PEA01,Population Estimates (Persons in April),2023,2023,-,All ages,2,Female,Thousand,2675.4

In [29]:
# Validate only one denomination value in the 'UNIT' column
pop_est_df['UNIT'].unique()

array(['Thousand'], dtype=object)

* It's fine to drop those additional columns as they are not serving the dataset now that I've gotten my subset

In [30]:
# we don't want these columns
pop_est_df.drop(['STATISTIC', 'STATISTIC Label', 'TLIST(A1)', 'C02076V02508', 'Age Group', 'C02199V02655', 'UNIT'], axis = 1, inplace = True)

pop_est_df

      Year         Sex   VALUE
78    1950  Both sexes  2969.0
79    1950        Male  1510.0
80    1950      Female  1459.0
159   1951  Both sexes  2960.6
160   1951        Male  1506.6
...    ...         ...     ...
5911  2022        Male  2562.0
5912  2022      Female  2622.0
5991  2023  Both sexes  5281.6
5992  2023        Male  2606.2
5993  2023      Female  2675.4

[222 rows x 3 columns]

* rename columns

In [31]:
# Rename columns
pop_est_df.rename(columns = {'VALUE': 'Value (K)'}, inplace = True)

# Validate changes
pop_est_df.head()

     Year         Sex  Value (K)
78   1950  Both sexes     2969.0
79   1950        Male     1510.0
80   1950      Female     1459.0
159  1951  Both sexes     2960.6
160  1951        Male     1506.6

* Create an additional column for the 'Value (K)' in the raw format

In [32]:
pop_est_df['Value'] = pop_est_df['Value (K)'] * 1000

pop_est_df

      Year         Sex  Value (K)      Value
78    1950  Both sexes     2969.0  2969000.0
79    1950        Male     1510.0  1510000.0
80    1950      Female     1459.0  1459000.0
159   1951  Both sexes     2960.6  2960600.0
160   1951        Male     1506.6  1506600.0
...    ...         ...        ...        ...
5911  2022        Male     2562.0  2562000.0
5912  2022      Female     2622.0  2622000.0
5991  2023  Both sexes     5281.6  5281600.0
5992  2023        Male     2606.2  2606200.0
5993  2023      Female     2675.4  2675400.0

[222 rows x 4 columns]

In [33]:
# we don't need the 'Value (K)' column anymore
pop_est_df.drop(['Value (K)'], axis = 1, inplace = True)

pop_est_df

      Year         Sex      Value
78    1950  Both sexes  2969000.0
79    1950        Male  1510000.0
80    1950      Female  1459000.0
159   1951  Both sexes  2960600.0
160   1951        Male  1506600.0
...    ...         ...        ...
5911  2022        Male  2562000.0
5912  2022      Female  2622000.0
5991  2023  Both sexes  5281600.0
5992  2023        Male  2606200.0
5993  2023      Female  2675400.0

[222 rows x 3 columns]

In [34]:
# Validate unique component values
pop_est_df['Sex'].unique()

array(['Both sexes', 'Male', 'Female'], dtype=object)

* Check and remove duplicates
* Because I removed the 'Age Group' classification columns, I need to remove duplicates values

In [35]:
# Total number of rows and columns
print('pop_est_df shape:')
print(pop_est_df.shape)
print()

# Rows containing duplicate data
pop_est_dup_rows_df = pop_est_df[pop_est_df.duplicated()]
print('Number of duplicate rows:')
print(pop_est_dup_rows_df.shape)
print()

# Used to count the number of rows before removing the data
print('Row count before removing duplicates:')
print()
print(pop_est_df.count())
print()

# Dropping the duplicates
pop_est_df = pop_est_df.drop_duplicates()

# Counting the number of rows after removing duplicates.
print('Row count after removing duplicates:')
print()
print(pop_est_df.count())
print()

pop_est_df shape:
(222, 3)

Number of duplicate rows:
(0, 3)

Row count before removing duplicates:

Year     222
Sex      222
Value    222
dtype: int64

Row count after removing duplicates:

Year     222
Sex      222
Value    222
dtype: int64

In [36]:
# Pivot the DataFrame so that unique 'Component' values become columns
pop_est_pivot_df = pop_est_df.pivot(index = 'Year', columns = 'Sex', values = 'Value')

pop_est_pivot_df.head()

Sex   Both sexes     Female       Male
Year
1950   2969000.0  1459000.0  1510000.0
1951   2960600.0  1454000.0  1506600.0
1952   2952900.0  1452000.0  1500900.0
1953   2949000.0  1451100.0  1497900.0
1954   2941200.0  1448200.0  1493000.0

In [37]:
pop_est_pivot_df = pop_est_pivot_df.loc[1998:2022]

pop_est_pivot_df

Sex   Both sexes     Female       Male
Year
1998   3703100.0  1864200.0  1838900.0
1999   3741600.0  1883000.0  1858600.0
2000   3789500.0  1906600.0  1882900.0
2001   3847200.0  1934100.0  1913100.0
2002   3917200.0  1971000.0  1946200.0
2003   3979900.0  2002900.0  1976900.0
2004   4045200.0  2033300.0  2011900.0
2005   4133800.0  2072000.0  2061800.0
2006   4232900.0  2115600.0  2117300.0
2007   4375800.0  2184600.0  2191300.0
2008   4485100.0  2246500.0  2238600.0
2009   4533400.0  2276100.0  2257300.0
2010   4554800.0  2292600.0  2262200.0
2011   4574900.0  2304400.0  2270500.0
2012   4593700.0  2318700.0  2275000.0
2013   4614700.0  2328500.0  2286100.0
2014   4645400.0  2346400.0  2299000.0
2015   4687800.0  2370100.0  2317700.0
2016   4739600.0  2393100.0  2346500.0
2017   4810900.0  2430100.0  2380800.0
2018   4884900.0  2465400.0  2419500.0
2019   4958500.0  2502200.0  2456300.0
2020   5029900.0  2538100.0  2491800.0
2021   5074700.0  2560600.0  2514000.0
2022   5184000.0  2622000.0  2562000.0

In [38]:
# Setting the index to 'Year'
pop_est_df.set_index('Year', inplace = True)

### Exploring population '20230925_gdp_&_gnp_1995_to_2023' dataset third

* Check and remove duplicates
* Because I removed the 'Age Group' classification columns, I need to remove duplicates values

In [39]:
# Print the dimensionality of the df
gdp_gnp_df.shape

(2736, 8)

In [40]:
# Return the first 15 rows to validate df creation
gdp_gnp_df.head(15)

,STATISTIC,Statistic Label,TLIST(Q1),Quarter,C02196V02652,State,UNIT,VALUE
0,NAQ03C01,GVA at Constant Basic Prices,19951,1995Q1,-,State,Euro Million,21283
1,NAQ03C01,GVA at Constant Basic Prices,19952,1995Q2,-,State,Euro Million,22083
2,NAQ03C01,GVA at Constant Basic Prices,19953,1995Q3,-,State,Euro Million,22529
3,NAQ03C01,GVA at Constant Basic Prices,19954,1995Q4,-,State,Euro Million,22342
4,NAQ03C01,GVA at Constant Basic Prices,19961,1996Q1,-,State,Euro Million,22989
5,NAQ03C01,GVA at Constant Basic Prices,19962,1996Q2,-,State,Euro Million,24022
6,NAQ03C01,GVA at Constant Basic Prices,19963,1996Q3,-,State,Euro Million,23775
7,NAQ03C01,GVA at Constant Basic Prices,19964,1996Q4,-,State,Euro Million,23722
8,NAQ03C01,GVA at Constant Basic Prices,19971,1997Q1,-,State,Euro Million,24656
9,NAQ03C01,GVA at Constant Basic Prices,19972,1997Q2,-,State,Euro Million,26327
10,NAQ03C01,GVA at Constant Basic Prices,19973,1997Q3,-,State,Euro Million,26393
11,NAQ03C01,GVA at Constant Basic Prices,19974,1997Q4,-,State,Euro Million,26941
12,NAQ03C01,GVA at Constant Basic Prices,19981,1998Q1,-,State,Euro Million,27120
13,NAQ03C01,GVA at Constant Basic Prices,19982,1998Q2,-,State,Euro Million,28211
14,NAQ03C01,GVA at Constant Basic Prices,19983,1998Q3,-,State,Euro Million,29099

Notes: 
* Value column contains nulls
* There are several different unique 'Sex' values, for meaningful results splitting this data will be essential
* Numerous 'system code' type columns: 'STATISTIC', 'TLIST(Q1)', 'C02196V02652'
* Validate mapping of 'system code' type columns: 'STATISTIC', 'TLIST(Q1)', 'C02196V02652' against labels, if 1:1 then drop as required
* 'UNIT' column specifies the denomination of 'Value' column, this could be transformed to the correct value
* Based on date range in question several observations can be removed based on 'Year'
* Identifying what to do with 'Value' NaNs important

In [41]:
# Print a concise summary of the df
gdp_gnp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2736 entries, 0 to 2735
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATISTIC        2736 non-null   object
 1   Statistic Label  2736 non-null   object
 2   TLIST(Q1)        2736 non-null   int64
 3   Quarter          2736 non-null   object
 4   C02196V02652     2736 non-null   object
 5   State            2736 non-null   object
 6   UNIT             2736 non-null   object
 7   VALUE            2736 non-null   int64
dtypes: int64(2), object(6)
memory usage: 171.1+ KB

In [42]:
# Generate descriptive statistics for all attributes
gdp_gnp_df.describe(include = 'all')

,STATISTIC,Statistic Label,TLIST(Q1),Quarter,C02196V02652,State,UNIT,VALUE
count,2736,2736,2736.000000,2736,2736,2736,2736,2736.000000
unique,24,24,NaN,114,1,1,1,NaN
top,NAQ03C01,GVA at Constant Basic Prices,NaN,1995Q1,-,State,Euro Million,NaN
freq,114,114,NaN,24,2736,2736,2736,NaN
mean,NaN,NaN,20090.026316,NaN,NaN,NaN,NaN,23922.203216
std,NaN,NaN,82.289981,NaN,NaN,NaN,NaN,31933.678885
min,NaN,NaN,19951.000000,NaN,NaN,NaN,NaN,-41168.000000
25%,NaN,NaN,20021.000000,NaN,NaN,NaN,NaN,-334.250000
50%,NaN,NaN,20091.500000,NaN,NaN,NaN,NaN,10117.500000
75%,NaN,NaN,20162.000000,NaN,NaN,NaN,NaN,43457.000000
max,NaN,NaN,20232.000000,NaN,NaN,NaN,NaN,134023.000000

* No missing values so far
* Several rows are objects and don't have descriptive statistics
* Remaining columns all appear to have no missing values
* Numerous 'system code' type columns: 'STATISTIC', 'TLIST(A1)', 'C02541V03076'
* Validate that they are indeed 1:1 mapping, if so can drop additional columns

In [43]:
# run code

statistic_mapping = verify_one_to_one_mapping(gdp_gnp_df, 'STATISTIC', 'Statistic Label')
quarter_mapping = verify_one_to_one_mapping(gdp_gnp_df, 'TLIST(Q1)', 'Quarter')
component_mapping = verify_one_to_one_mapping(gdp_gnp_df, 'C02196V02652', 'State')

print('"STATISTIC" & "Statistic Label" mapping one-to-one:', statistic_mapping)
print('"TLIST(Q1)" & "Quarter" mapping one-to-one:', quarter_mapping)
print('"C02196V02652" & "State" mapping one-to-one:', component_mapping)

"STATISTIC" & "Statistic Label" mapping one-to-one: True
"TLIST(Q1)" & "Quarter" mapping one-to-one: True
"C02196V02652" & "State" mapping one-to-one: True

In [44]:
gdp_gnp_df['Year'] = gdp_gnp_df['Quarter'].str[:4]
gdp_gnp_df['Quarter No'] = gdp_gnp_df['Quarter'].str[-1]

gdp_gnp_df.head()

,STATISTIC,Statistic Label,TLIST(Q1),Quarter,C02196V02652,State,UNIT,VALUE,Year,Quarter No
0,NAQ03C01,GVA at Constant Basic Prices,19951,1995Q1,-,State,Euro Million,21283,1995,1
1,NAQ03C01,GVA at Constant Basic Prices,19952,1995Q2,-,State,Euro Million,22083,1995,2
2,NAQ03C01,GVA at Constant Basic Prices,19953,1995Q3,-,State,Euro Million,22529,1995,3
3,NAQ03C01,GVA at Constant Basic Prices,19954,1995Q4,-,State,Euro Million,22342,1995,4
4,NAQ03C01,GVA at Constant Basic Prices,19961,1996Q1,-,State,Euro Million,22989,1996,1

In [45]:
# Validate only one denomination value in the 'UNIT' column
gdp_gnp_df['State'].unique()

array(['State'], dtype=object)

In [46]:
# Validate only one denomination value in the 'UNIT' column
gdp_gnp_df['UNIT'].unique()

array(['Euro Million'], dtype=object)

* It's fine to drop those additional columns as they are not serving the dataset now that I've gotten my subset

In [47]:
# we don't want these columns
gdp_gnp_df.drop(['STATISTIC', 'TLIST(Q1)', 'Quarter', 'C02196V02652', 'State', 'UNIT'], axis = 1, inplace = True)

gdp_gnp_df

,Statistic Label,VALUE,Year,Quarter No
0,GVA at Constant Basic Prices,21283,1995,1
1,GVA at Constant Basic Prices,22083,1995,2
2,GVA at Constant Basic Prices,22529,1995,3
3,GVA at Constant Basic Prices,22342,1995,4
4,GVA at Constant Basic Prices,22989,1996,1
...,...,...,...,...
2731,GNP at Current Market Prices (Seasonally Adjus...,93287,2022,2
2732,GNP at Current Market Prices (Seasonally Adjus...,89542,2022,3
2733,GNP at Current Market Prices (Seasonally Adjus...,93467,2022,4
2734,GNP at Current Market Prices (Seasonally Adjus...,88873,2023,1
2735,GNP at Current Market Prices (Seasonally Adjus...,102104,2023,2

In [48]:
# Check for each 'Statistic Label' & 'Year' grouping to ensure there are 4 'Quarter No' values
grouped = gdp_gnp_df.groupby(['Statistic Label', 'Year'])['Quarter No'].nunique().reset_index()
grouped['Check'] = grouped['Quarter No'] == 4

grouped

,Statistic Label,Year,Quarter No,Check
0,GDP at Constant Market Prices,1995,4,True
1,GDP at Constant Market Prices,1996,4,True
2,GDP at Constant Market Prices,1997,4,True
3,GDP at Constant Market Prices,1998,4,True
4,GDP at Constant Market Prices,1999,4,True
...,...,...,...,...
691,Taxes on Products at Current Prices (Seasonall...,2019,4,True
692,Taxes on Products at Current Prices (Seasonall...,2020,4,True
693,Taxes on Products at Current Prices (Seasonall...,2021,4,True
694,Taxes on Products at Current Prices (Seasonall...,2022,4,True
695,Taxes on Products at Current Prices (Seasonall...,2023,2,False

In [49]:
# Filter the 'grouped' dataframe to include only rows where 'Check' is False
filtered_grouped = grouped[grouped['Check'] == False]

filtered_grouped

,Statistic Label,Year,Quarter No,Check
28,GDP at Constant Market Prices,2023,2,False
57,GDP at Constant Market Prices (Seasonally Adju...,2023,2,False
86,GDP at Current Market Prices,2023,2,False
115,GDP at Current Market Prices (Seasonally Adjus...,2023,2,False
144,GNP at Constant Market Prices,2023,2,False
173,GNP at Constant Market Prices (Seasonally Adju...,2023,2,False
202,GNP at Current Market Prices,2023,2,False
231,GNP at Current Market Prices (Seasonally Adjus...,2023,2,False
260,GVA at Constant Basic Prices,2023,2,False
289,GVA at Constant Basic Prices (Seasonally Adjus...,2023,2,False
318,GVA at Current Basic Prices,2023,2,False
347,GVA at Current Basic Prices (Seasonally Adjusted),2023,2,False
376,Net Factor Income from Rest of World,2023,2,False
405,Net Factor Income from Rest of World (Seasonal...,2023,2,False
434,Net Factor Income from Rest of World at Curren...,2023,2,False
463,Net Factor Income from Rest of World at Curren...,2023,2,False
492,Subsidies on Products,2023,2,False
521,Subsidies on Products (chain linked annually r...,2023,2,False
550,Subsidies on Products at Current Prices,2023,2,False
579,Subsidies on Products at Current Prices (Seaso...,2023,2,False
608,Taxes on Products,2023,2,False
637,Taxes on Products (Seasonally Adjusted),2023,2,False
666,Taxes on Products at Current Prices,2023,2,False
695,Taxes on Products at Current Prices (Seasonall...,2023,2,False

* Only 2023 hasn't got 4 quarters worth of data, for purpose of analysis I'll only be analysing full years worth of data

* rename columns

In [50]:
# Rename columns
gdp_gnp_df.rename(columns = {'VALUE': 'Value (Mn.)'}, inplace = True)

# Validate changes
gdp_gnp_df.head()

                Statistic Label  Value (Mn.)  Year Quarter No
0  GVA at Constant Basic Prices        21283  1995          1
1  GVA at Constant Basic Prices        22083  1995          2
2  GVA at Constant Basic Prices        22529  1995          3
3  GVA at Constant Basic Prices        22342  1995          4
4  GVA at Constant Basic Prices        22989  1996          1

* Create an additional column for the 'Value (K)' in the raw format

In [51]:
gdp_gnp_df['Value'] = gdp_gnp_df['Value (Mn.)'] * 1000000

gdp_gnp_df

,Statistic Label,Value (Mn.),Year,Quarter No,Value
0,GVA at Constant Basic Prices,21283,1995,1,21283000000
1,GVA at Constant Basic Prices,22083,1995,2,22083000000
2,GVA at Constant Basic Prices,22529,1995,3,22529000000
3,GVA at Constant Basic Prices,22342,1995,4,22342000000
4,GVA at Constant Basic Prices,22989,1996,1,22989000000
...,...,...,...,...,...
2731,GNP at Current Market Prices (Seasonally Adjus...,93287,2022,2,93287000000
2732,GNP at Current Market Prices (Seasonally Adjus...,89542,2022,3,89542000000
2733,GNP at Current Market Prices (Seasonally Adjus...,93467,2022,4,93467000000
2734,GNP at Current Market Prices (Seasonally Adjus...,88873,2023,1,88873000000
2735,GNP at Current Market Prices (Seasonally Adjus...,102104,2023,2,102104000000

In [52]:
# we don't need the 'Value (Mn.)' column anymore
gdp_gnp_df.drop(['Value (Mn.)'], axis = 1, inplace = True)

gdp_gnp_df

,Statistic Label,Year,Quarter No,Value
0,GVA at Constant Basic Prices,1995,1,21283000000
1,GVA at Constant Basic Prices,1995,2,22083000000
2,GVA at Constant Basic Prices,1995,3,22529000000
3,GVA at Constant Basic Prices,1995,4,22342000000
4,GVA at Constant Basic Prices,1996,1,22989000000
...,...,...,...,...
2731,GNP at Current Market Prices (Seasonally Adjus...,2022,2,93287000000
2732,GNP at Current Market Prices (Seasonally Adjus...,2022,3,89542000000
2733,GNP at Current Market Prices (Seasonally Adjus...,2022,4,93467000000
2734,GNP at Current Market Prices (Seasonally Adjus...,2023,1,88873000000
2735,GNP at Current Market Prices (Seasonally Adjus...,2023,2,102104000000

* Check and remove duplicates
* Because I removed the 'Age Group' classification columns, I need to remove duplicates values

In [53]:
# Total number of rows and columns
print('gdp_gnp_df shape:')
print(gdp_gnp_df.shape)
print()

# Rows containing duplicate data
gdp_gnp_dup_rows_df = gdp_gnp_df[gdp_gnp_df.duplicated()]
print('Number of duplicate rows:')
print(gdp_gnp_dup_rows_df.shape)
print()

# Used to count the number of rows before removing the data
print('Row count before removing duplicates:')
print()
print(gdp_gnp_df.count())
print()

# Dropping the duplicates
gdp_gnp_df = gdp_gnp_df.drop_duplicates()

# Counting the number of rows after removing duplicates.
print('Row count after removing duplicates:')
print()
print(gdp_gnp_df.count())
print()

gdp_gnp_df shape:
(2736, 4)

Number of duplicate rows:
(0, 4)

Row count before removing duplicates:

Statistic Label    2736
Year               2736
Quarter No         2736
Value              2736
dtype: int64

Row count after removing duplicates:

Statistic Label    2736
Year               2736
Quarter No         2736
Value              2736
dtype: int64

In [54]:
# Convert selected columns to 'int'
gdp_gnp_df['Year'] = gdp_gnp_df['Year'].astype('int64')

# Validate the results
gdp_gnp_df.dtypes

Statistic Label    object
Year                int64
Quarter No         object
Value               int64
dtype: object

In [55]:
# Use pivot_table to aggregate the 'Value' column by sum for each combination of 'Year' and 'Statistic Label'
gdp_gnp_pivot_df = gdp_gnp_df.pivot_table(index = 'Year', columns = 'Statistic Label', values = 'Value', aggfunc = 'sum')

# we don't need the 'Value (Mn.)' column anymore
gdp_gnp_pivot_df.drop(['GDP at Constant Market Prices (Seasonally Adjusted)', 
                 'GDP at Current Market Prices', 
                 'GDP at Current Market Prices (Seasonally Adjusted)', 
                 'GNP at Constant Market Prices (Seasonally Adjusted)', 
                 'GNP at Current Market Prices', 
                 'GNP at Current Market Prices (Seasonally Adjusted)', 
                 'GVA at Constant Basic Prices (Seasonally Adjusted)',
                 'GVA at Current Basic Prices', 
                 'GVA at Current Basic Prices (Seasonally Adjusted)', 
                 'Net Factor Income from Rest of World', 
                 'Net Factor Income from Rest of World (Seasonally Adjusted)', 
                 'Net Factor Income from Rest of World at Current Prices', 
                 'Net Factor Income from Rest of World at Current Prices (Seasonally Adjusted)', 
                 'Subsidies on Products', 
                 'Subsidies on Products (chain linked annually ref to 2019) (Seasonally Adjusted)', 
                 'Subsidies on Products at Current Prices', 
                 'Subsidies on Products at Current Prices (Seasonally Adjusted)', 
                 'Taxes on Products', 
                 'Taxes on Products (Seasonally Adjusted)', 
                 'Taxes on Products at Current Prices', 
                 'Taxes on Products at Current Prices (Seasonally Adjusted)'], axis = 1, inplace = True)

# Rename columns
gdp_gnp_pivot_df.rename(columns = {'GDP at Constant Market Prices': 'GDP', 
                                   'GNP at Constant Market Prices': 'GNP',
                                  'GVA at Constant Basic Prices': 'GVA'}, inplace = True)

gdp_gnp_pivot_df

Statistic Label           GDP           GNP           GVA
Year
1995              96861000000   93108000000   88237000000
1996             104008000000   99625000000   94508000000
1997             115473000000  109294000000  104317000000
1998             125594000000  117567000000  112817000000
1999             138819000000  127088000000  123893000000
2000             151873000000  138791000000  135161000000
2001             159932000000  141356000000  143313000000
2002             169366000000  144707000000  152258000000
2003             174471000000  151555000000  156260000000
2004             186315000000  162276000000  166155000000
2005             197008000000  171101000000  174006000000
2006             206834000000  180814000000  181212000000
2007             217818000000  187527000000  192763000000
2008             208051000000  180139000000  187712000000
2009             197450000000  165003000000  180811000000
2010             200772000000  171011000000  184048000000
2011             203343000000  166763000000  187495000000
2012             203080000000  166053000000  187102000000
2013             205466000000  175230000000  188780000000
2014             223606000000  191298000000  205224000000
2015             278334000000  215863000000  258944000000
2016             283248000000  231361000000  262607000000
2017             309621000000  246086000000  288222000000
2018             335849000000  260724000000  313888000000
2019             353641000000  273940000000  330084000000
2020             377042000000  283779000000  356769000000
2021             434069000000  323313000000  409387000000
2022             475016000000  335904000000  450216000000
2023             228329000000  162392000000  216858000000

In [56]:
gdp_gnp_pivot_df = gdp_gnp_pivot_df.loc[1998:2022]

gdp_gnp_pivot_df

Statistic Label           GDP           GNP           GVA
Year
1998             125594000000  117567000000  112817000000
1999             138819000000  127088000000  123893000000
2000             151873000000  138791000000  135161000000
2001             159932000000  141356000000  143313000000
2002             169366000000  144707000000  152258000000
2003             174471000000  151555000000  156260000000
2004             186315000000  162276000000  166155000000
2005             197008000000  171101000000  174006000000
2006             206834000000  180814000000  181212000000
2007             217818000000  187527000000  192763000000
2008             208051000000  180139000000  187712000000
2009             197450000000  165003000000  180811000000
2010             200772000000  171011000000  184048000000
2011             203343000000  166763000000  187495000000
2012             203080000000  166053000000  187102000000
2013             205466000000  175230000000  188780000000
2014             223606000000  191298000000  205224000000
2015             278334000000  215863000000  258944000000
2016             283248000000  231361000000  262607000000
2017             309621000000  246086000000  288222000000
2018             335849000000  260724000000  313888000000
2019             353641000000  273940000000  330084000000
2020             377042000000  283779000000  356769000000
2021             434069000000  323313000000  409387000000
2022             475016000000  335904000000  450216000000

In [57]:
gdp_gnp_df = gdp_gnp_df.groupby(['Year', 'Statistic Label'])['Value'].sum().reset_index()
gdp_gnp_df

     Year                                    Statistic Label        Value
0    1995                      GDP at Constant Market Prices  96861000000
1    1995  GDP at Constant Market Prices (Seasonally Adju...  99549000000
2    1995                       GDP at Current Market Prices  54759000000
3    1995  GDP at Current Market Prices (Seasonally Adjus...  54635000000
4    1995                      GNP at Constant Market Prices  93108000000
..    ...                                                ...          ...
691  2023  Subsidies on Products at Current Prices (Seaso...   -896000000
692  2023                                  Taxes on Products  12223000000
693  2023            Taxes on Products (Seasonally Adjusted)  12934000000
694  2023                Taxes on Products at Current Prices  13802000000
695  2023  Taxes on Products at Current Prices (Seasonall...  14710000000

[696 rows x 3 columns]

In [58]:
# Setting the index to 'Year'
gdp_gnp_df.set_index('Year', inplace = True)

### Combining the datasets

In [59]:
outer_merged_df = pd.merge(pop_change_pivot_df, pop_est_pivot_df, how = "outer",
on = ["Year"])
outer_merged_df.head()

,Annual births,Annual deaths,Emigrants,Immigrants,Natural increase,Net migration,Population,Population change,Both sexes,Female,Male
Year,,,,,,,,,,,
1998,52700.0,31200.0,28600.0,46000.0,21500.0,17400.0,3703100.0,38800.0,3703100.0,1864200.0,1838900.0
1999,53700.0,32400.0,31500.0,48900.0,21200.0,17300.0,3741600.0,38500.0,3741600.0,1883000.0,1858600.0
2000,54000.0,32100.0,26600.0,52600.0,21800.0,26000.0,3789500.0,47900.0,3789500.0,1906600.0,1882900.0
2001,55100.0,30200.0,26200.0,59000.0,24800.0,32800.0,3847200.0,57700.0,3847200.0,1934100.0,1913100.0
2002,58100.0,29300.0,25600.0,66900.0,28800.0,41300.0,3917200.0,70000.0,3917200.0,1971000.0,1946200.0

In [60]:
outer_merged_df = pd.merge(outer_merged_df, gdp_gnp_pivot_df, how = "outer",
on = ["Year"])
outer_merged_df.head()

,Annual births,Annual deaths,Emigrants,Immigrants,Natural increase,Net migration,Population,Population change,Both sexes,Female,Male,GDP,GNP,GVA
Year,,,,,,,,,,,,,,
1998,52700.0,31200.0,28600.0,46000.0,21500.0,17400.0,3703100.0,38800.0,3703100.0,1864200.0,1838900.0,125594000000,117567000000,112817000000
1999,53700.0,32400.0,31500.0,48900.0,21200.0,17300.0,3741600.0,38500.0,3741600.0,1883000.0,1858600.0,138819000000,127088000000,123893000000
2000,54000.0,32100.0,26600.0,52600.0,21800.0,26000.0,3789500.0,47900.0,3789500.0,1906600.0,1882900.0,151873000000,138791000000,135161000000
2001,55100.0,30200.0,26200.0,59000.0,24800.0,32800.0,3847200.0,57700.0,3847200.0,1934100.0,1913100.0,159932000000,141356000000,143313000000
2002,58100.0,29300.0,25600.0,66900.0,28800.0,41300.0,3917200.0,70000.0,3917200.0,1971000.0,1946200.0,169366000000,144707000000,152258000000

### Validate calculations in the dataset

In [61]:
outer_merged_df.head()

,Annual births,Annual deaths,Emigrants,Immigrants,Natural increase,Net migration,Population,Population change,Both sexes,Female,Male,GDP,GNP,GVA
Year,,,,,,,,,,,,,,
1998,52700.0,31200.0,28600.0,46000.0,21500.0,17400.0,3703100.0,38800.0,3703100.0,1864200.0,1838900.0,125594000000,117567000000,112817000000
1999,53700.0,32400.0,31500.0,48900.0,21200.0,17300.0,3741600.0,38500.0,3741600.0,1883000.0,1858600.0,138819000000,127088000000,123893000000
2000,54000.0,32100.0,26600.0,52600.0,21800.0,26000.0,3789500.0,47900.0,3789500.0,1906600.0,1882900.0,151873000000,138791000000,135161000000
2001,55100.0,30200.0,26200.0,59000.0,24800.0,32800.0,3847200.0,57700.0,3847200.0,1934100.0,1913100.0,159932000000,141356000000,143313000000
2002,58100.0,29300.0,25600.0,66900.0,28800.0,41300.0,3917200.0,70000.0,3917200.0,1971000.0,1946200.0,169366000000,144707000000,152258000000

In [62]:
outer_merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 1998 to 2022
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Annual births      25 non-null     float64
 1   Annual deaths      25 non-null     float64
 2   Emigrants          25 non-null     float64
 3   Immigrants         25 non-null     float64
 4   Natural increase   25 non-null     float64
 5   Net migration      25 non-null     float64
 6   Population         25 non-null     float64
 7   Population change  25 non-null     float64
 8   Both sexes         25 non-null     float64
 9   Female             25 non-null     float64
 10  Male               25 non-null     float64
 11  GDP                25 non-null     int64
 12  GNP                25 non-null     int64
 13  GVA                25 non-null     int64
dtypes: float64(11), int64(3)
memory usage: 2.9 KB

In [63]:
# Convert selected columns to int64 data type
columns_to_convert = ['Annual births', 'Annual deaths', 'Emigrants', 'Immigrants','Natural increase', 'Net migration', 
                      'Population', 'Population change', 'Both sexes', 'Female', 'Male']

# Convert to int64 and update the dataset
outer_merged_df[columns_to_convert] = outer_merged_df[columns_to_convert].astype('int64')

# Display data types to confirm conversion
outer_merged_df[columns_to_convert].dtypes

Annual births        int64
Annual deaths        int64
Emigrants            int64
Immigrants           int64
Natural increase     int64
Net migration        int64
Population           int64
Population change    int64
Both sexes           int64
Female               int64
Male                 int64
dtype: object

In [64]:
# Create new calculated columns to ensure that the data in the dataset is accurate
outer_merged_df['Calculated Natural Increase'] = outer_merged_df['Annual births'] - outer_merged_df['Annual deaths']
outer_merged_df['Calculated Net Migration Check'] = outer_merged_df['Immigrants'] - outer_merged_df['Emigrants']
outer_merged_df['Calculated Both Sexes'] = outer_merged_df['Female'] + outer_merged_df['Male']

# Compare calculated columsn to check if they are the same
outer_merged_df['Natural Increase Check'] = outer_merged_df['Calculated Natural Increase'] == outer_merged_df['Natural increase']
outer_merged_df['Net Migration Check'] = outer_merged_df['Calculated Net Migration Check'] == outer_merged_df['Net migration']
outer_merged_df['Both Sexes Check'] = outer_merged_df['Calculated Both Sexes'] == outer_merged_df['Both sexes']

# Display the new columns to verify the calculations and comparisons
outer_merged_df.head(25)

## Clear to see that the calcs in the data aren't correct so I will use my calcs

,Annual births,Annual deaths,Emigrants,Immigrants,Natural increase,Net migration,Population,Population change,Both sexes,Female,Male,GDP,GNP,GVA,Calculated Natural Increase,Calculated Net Migration Check,Calculated Both Sexes,Natural Increase Check,Net Migration Check,Both Sexes Check
Year,,,,,,,,,,,,,,,,,,,,
1998,52700,31200,28600,46000,21500,17400,3703100,38800,3703100,1864200,1838900,125594000000,117567000000,112817000000,21500,17400,3703100,True,True,True
1999,53700,32400,31500,48900,21200,17300,3741600,38500,3741600,1883000,1858600,138819000000,127088000000,123893000000,21300,17400,3741600,False,False,True
2000,54000,32100,26600,52600,21800,26000,3789500,47900,3789500,1906600,1882900,151873000000,138791000000,135161000000,21900,26000,3789500,False,True,True
2001,55100,30200,26200,59000,24800,32800,3847200,57700,3847200,1934100,1913100,159932000000,141356000000,143313000000,24900,32800,3847200,False,True,True
2002,58100,29300,25600,66900,28800,41300,3917200,70000,3917200,1971000,1946200,169366000000,144707000000,152258000000,28800,41300,3917200,True,True,True
2003,60800,28900,29300,60000,31900,30700,3979900,62600,3979900,2002900,1976900,174471000000,151555000000,156260000000,31900,30700,3979800,True,True,False
2004,62000,28600,26500,58500,33300,32000,4045200,65300,4045200,2033300,2011900,186315000000,162276000000,166155000000,33400,32000,4045200,False,True,True
2005,61400,27900,29400,84600,33500,55100,4133800,88600,4133800,2072000,2061800,197008000000,171101000000,174006000000,33500,55200,4133800,True,False,True
2006,61200,27000,36000,107800,34200,71800,4232900,106000,4232900,2115600,2117300,206834000000,180814000000,181212000000,34200,71800,4232900,True,True,True
2007,66600,28400,46300,151100,38200,104800,4375800,142900,4375800,2184600,2191300,217818000000,187527000000,192763000000,38200,104800,4375900,True,True,False
2008,73000,28000,49200,113500,44900,64300,4485100,109200,4485100,2246500,2238600,208051000000,180139000000,187712000000,45000,64300,4485100,False,True,True
2009,75300,28600,72000,73700,46700,1600,4533400,48300,4533400,2276100,2257300,197450000000,165003000000,180811000000,46700,1700,4533400,True,False,True
2010,77200,28400,69200,41800,48800,-27500,4554800,21400,4554800,2292600,2262200,200772000000,171011000000,184048000000,48800,-27400,4554800,True,False,True
2011,75100,27700,80600,53300,47500,-27400,4574900,20100,4574900,2304400,2270500,203343000000,166763000000,187495000000,47400,-27300,4574900,False,False,True
2012,73200,28700,83000,57300,44500,-25700,4593700,18800,4593700,2318700,2275000,203080000000,166053000000,187102000000,44500,-25700,4593700,True,True,True
2013,69400,29800,81300,62700,39600,-18700,4614700,21000,4614700,2328500,2286100,205466000000,175230000000,188780000000,39600,-18600,4614600,True,False,False
2014,68400,29200,75000,66500,39200,-8500,4645400,30800,4645400,2346400,2299000,223606000000,191298000000,205224000000,39200,-8500,4645400,True,True,True
2015,66400,29900,70000,75900,36500,5900,4687800,42300,4687800,2370100,2317700,278334000000,215863000000,258944000000,36500,5900,4687800,True,True,True
2016,65400,29800,66200,82300,35600,16200,4739600,51800,4739600,2393100,2346500,283248000000,231361000000,262607000000,35600,16100,4739600,True,False,True
2017,63400,31300,56100,95300,32100,39200,4810900,71300,4810900,2430100,2380800,309621000000,246086000000,288222000000,32100,39200,4810900,True,True,True
2018,61600,32000,51600,96000,29600,44400,4884900,74000,4884900,2465400,2419500,335849000000,260724000000,313888000000,29600,44400,4884900,True,True,True
2019,60500,30900,53100,97100,29600,44000,4958500,73600,4958500,2502200,2456300,353641000000,273940000000,330084000000,29600,44000,4958500,True,True,True
2020,59100,32400,50900,95600,26700,44700,5029900,71400,5029900,2538100,2491800,377042000000,283779000000,356769000000,26700,44700,5029900,True,True,True
2021,57300,34300,52300,74100,23000,21800,5074700,44800,5074700,2560600,2514000,434069000000,323313000000,409387000000,23000,21800,5074600,True,True,False
2022,59700,33600,56100,107800,26100,51700,5184000,77800,5184000,2622000,2562000,475016000000,335904000000,450216000000,26100,51700,5184000,True,True,True

In [65]:
# Create new calculated columns to ensure that the data in the dataset is accurate
outer_merged_df['Calculated Population Change'] = outer_merged_df['Calculated Natural Increase'] + outer_merged_df['Calculated Net Migration Check']

# Compare calculated columsn to check if they are the same
outer_merged_df['Population Change Check'] = outer_merged_df['Calculated Population Change'] == outer_merged_df['Population change']

# Display the new columns to verify the calculations and comparisons
outer_merged_df.head(25)

,Annual births,Annual deaths,Emigrants,Immigrants,Natural increase,Net migration,Population,Population change,Both sexes,Female,Male,GDP,GNP,GVA,Calculated Natural Increase,Calculated Net Migration Check,Calculated Both Sexes,Natural Increase Check,Net Migration Check,Both Sexes Check,Calculated Population Change,Population Change Check
Year,,,,,,,,,,,,,,,,,,,,,,
1998,52700,31200,28600,46000,21500,17400,3703100,38800,3703100,1864200,1838900,125594000000,117567000000,112817000000,21500,17400,3703100,True,True,True,38900,False
1999,53700,32400,31500,48900,21200,17300,3741600,38500,3741600,1883000,1858600,138819000000,127088000000,123893000000,21300,17400,3741600,False,False,True,38700,False
2000,54000,32100,26600,52600,21800,26000,3789500,47900,3789500,1906600,1882900,151873000000,138791000000,135161000000,21900,26000,3789500,False,True,True,47900,True
2001,55100,30200,26200,59000,24800,32800,3847200,57700,3847200,1934100,1913100,159932000000,141356000000,143313000000,24900,32800,3847200,False,True,True,57700,True
2002,58100,29300,25600,66900,28800,41300,3917200,70000,3917200,1971000,1946200,169366000000,144707000000,152258000000,28800,41300,3917200,True,True,True,70100,False
2003,60800,28900,29300,60000,31900,30700,3979900,62600,3979900,2002900,1976900,174471000000,151555000000,156260000000,31900,30700,3979800,True,True,False,62600,True
2004,62000,28600,26500,58500,33300,32000,4045200,65300,4045200,2033300,2011900,186315000000,162276000000,166155000000,33400,32000,4045200,False,True,True,65400,False
2005,61400,27900,29400,84600,33500,55100,4133800,88600,4133800,2072000,2061800,197008000000,171101000000,174006000000,33500,55200,4133800,True,False,True,88700,False
2006,61200,27000,36000,107800,34200,71800,4232900,106000,4232900,2115600,2117300,206834000000,180814000000,181212000000,34200,71800,4232900,True,True,True,106000,True
2007,66600,28400,46300,151100,38200,104800,4375800,142900,4375800,2184600,2191300,217818000000,187527000000,192763000000,38200,104800,4375900,True,True,False,143000,False
2008,73000,28000,49200,113500,44900,64300,4485100,109200,4485100,2246500,2238600,208051000000,180139000000,187712000000,45000,64300,4485100,False,True,True,109300,False
2009,75300,28600,72000,73700,46700,1600,4533400,48300,4533400,2276100,2257300,197450000000,165003000000,180811000000,46700,1700,4533400,True,False,True,48400,False
2010,77200,28400,69200,41800,48800,-27500,4554800,21400,4554800,2292600,2262200,200772000000,171011000000,184048000000,48800,-27400,4554800,True,False,True,21400,True
2011,75100,27700,80600,53300,47500,-27400,4574900,20100,4574900,2304400,2270500,203343000000,166763000000,187495000000,47400,-27300,4574900,False,False,True,20100,True
2012,73200,28700,83000,57300,44500,-25700,4593700,18800,4593700,2318700,2275000,203080000000,166053000000,187102000000,44500,-25700,4593700,True,True,True,18800,True
2013,69400,29800,81300,62700,39600,-18700,4614700,21000,4614700,2328500,2286100,205466000000,175230000000,188780000000,39600,-18600,4614600,True,False,False,21000,True
2014,68400,29200,75000,66500,39200,-8500,4645400,30800,4645400,2346400,2299000,223606000000,191298000000,205224000000,39200,-8500,4645400,True,True,True,30700,False
2015,66400,29900,70000,75900,36500,5900,4687800,42300,4687800,2370100,2317700,278334000000,215863000000,258944000000,36500,5900,4687800,True,True,True,42400,False
2016,65400,29800,66200,82300,35600,16200,4739600,51800,4739600,2393100,2346500,283248000000,231361000000,262607000000,35600,16100,4739600,True,False,True,51700,False
2017,63400,31300,56100,95300,32100,39200,4810900,71300,4810900,2430100,2380800,309621000000,246086000000,288222000000,32100,39200,4810900,True,True,True,71300,True
2018,61600,32000,51600,96000,29600,44400,4884900,74000,4884900,2465400,2419500,335849000000,260724000000,313888000000,29600,44400,4884900,True,True,True,74000,True
2019,60500,30900,53100,97100,29600,44000,4958500,73600,4958500,2502200,2456300,353641000000,273940000000,330084000000,29600,44000,4958500,True,True,True,73600,True
2020,59100,32400,50900,95600,26700,44700,5029900,71400,5029900,2538100,2491800,377042000000,283779000000,356769000000,26700,44700,5029900,True,True,True,71400,True
2021,57300,34300,52300,74100,23000,21800,5074700,44800,5074700,2560600,2514000,434069000000,323313000000,409387000000,23000,21800,5074600,True,True,False,44800,True
2022,59700,33600,56100,107800,26100,51700,5184000,77800,5184000,2622000,2562000,475016000000,335904000000,450216000000,26100,51700,5184000,True,True,True,77800,True

In [66]:
#initial_population = 3703100
#outer_merged_df['Calculated Population'] = initial_population + outer_merged_df['Calculated Population Change'].cumsum()
#outer_merged_df.loc[1998, 'Calculated Population'] = initial_population

#outer_merged_df.head(25)

In [67]:
# Initialize the 'Population' column with the first value as 3703100
outer_merged_df.loc[1998, 'Calculated Population'] = 3703100

# Calculate the 'Population' for each subsequent year
for year in outer_merged_df.index[1:]:
    previous_year = year - 1
    outer_merged_df.loc[year, 'Calculated Population'] = outer_merged_df.loc[previous_year, 'Calculated Population'] + outer_merged_df.loc[year, 'Calculated Population Change']

# Display the first few rows of the updated DataFrame with 'Year' as index
outer_merged_df.head()

,Annual births,Annual deaths,Emigrants,Immigrants,Natural increase,Net migration,Population,Population change,Both sexes,Female,Male,GDP,GNP,GVA,Calculated Natural Increase,Calculated Net Migration Check,Calculated Both Sexes,Natural Increase Check,Net Migration Check,Both Sexes Check,Calculated Population Change,Population Change Check,Calculated Population
Year,,,,,,,,,,,,,,,,,,,,,,,
1998,52700,31200,28600,46000,21500,17400,3703100,38800,3703100,1864200,1838900,125594000000,117567000000,112817000000,21500,17400,3703100,True,True,True,38900,False,3703100.0
1999,53700,32400,31500,48900,21200,17300,3741600,38500,3741600,1883000,1858600,138819000000,127088000000,123893000000,21300,17400,3741600,False,False,True,38700,False,3741800.0
2000,54000,32100,26600,52600,21800,26000,3789500,47900,3789500,1906600,1882900,151873000000,138791000000,135161000000,21900,26000,3789500,False,True,True,47900,True,3789700.0
2001,55100,30200,26200,59000,24800,32800,3847200,57700,3847200,1934100,1913100,159932000000,141356000000,143313000000,24900,32800,3847200,False,True,True,57700,True,3847400.0
2002,58100,29300,25600,66900,28800,41300,3917200,70000,3917200,1971000,1946200,169366000000,144707000000,152258000000,28800,41300,3917200,True,True,True,70100,False,3917500.0

In [68]:
# we don't need columns anymore
outer_merged_df.drop(['Natural increase', 'Net migration', 'Both sexes', 
                       'Natural Increase Check', 'Net Migration Check', 
                       'Both Sexes Check', 'Population change', 
                      'Population Change Check', 'Population'], axis = 1, inplace = True)

# Rename columns
outer_merged_df.rename(columns = {'Calculated Natural Increase': 'Natural Increase', 
                                   'Calculated Net Migration Check': 'Net Migration',
                                  'Calculated Both Sexes': 'Both Sexes', 
                                  'Calculated Population Change': 'Population Change',
                                 'Calculated Population': 'Population',
                                 'Annual births': 'Annual Births',
                                 'Annual deaths': 'Annual Deaths'}, inplace = True)

outer_merged_df

,Annual Births,Annual Deaths,Emigrants,Immigrants,Female,Male,GDP,GNP,GVA,Natural Increase,Net Migration,Both Sexes,Population Change,Population
Year,,,,,,,,,,,,,,
1998,52700,31200,28600,46000,1864200,1838900,125594000000,117567000000,112817000000,21500,17400,3703100,38900,3703100.0
1999,53700,32400,31500,48900,1883000,1858600,138819000000,127088000000,123893000000,21300,17400,3741600,38700,3741800.0
2000,54000,32100,26600,52600,1906600,1882900,151873000000,138791000000,135161000000,21900,26000,3789500,47900,3789700.0
2001,55100,30200,26200,59000,1934100,1913100,159932000000,141356000000,143313000000,24900,32800,3847200,57700,3847400.0
2002,58100,29300,25600,66900,1971000,1946200,169366000000,144707000000,152258000000,28800,41300,3917200,70100,3917500.0
2003,60800,28900,29300,60000,2002900,1976900,174471000000,151555000000,156260000000,31900,30700,3979800,62600,3980100.0
2004,62000,28600,26500,58500,2033300,2011900,186315000000,162276000000,166155000000,33400,32000,4045200,65400,4045500.0
2005,61400,27900,29400,84600,2072000,2061800,197008000000,171101000000,174006000000,33500,55200,4133800,88700,4134200.0
2006,61200,27000,36000,107800,2115600,2117300,206834000000,180814000000,181212000000,34200,71800,4232900,106000,4240200.0
2007,66600,28400,46300,151100,2184600,2191300,217818000000,187527000000,192763000000,38200,104800,4375900,143000,4383200.0
2008,73000,28000,49200,113500,2246500,2238600,208051000000,180139000000,187712000000,45000,64300,4485100,109300,4492500.0
2009,75300,28600,72000,73700,2276100,2257300,197450000000,165003000000,180811000000,46700,1700,4533400,48400,4540900.0
2010,77200,28400,69200,41800,2292600,2262200,200772000000,171011000000,184048000000,48800,-27400,4554800,21400,4562300.0
2011,75100,27700,80600,53300,2304400,2270500,203343000000,166763000000,187495000000,47400,-27300,4574900,20100,4582400.0
2012,73200,28700,83000,57300,2318700,2275000,203080000000,166053000000,187102000000,44500,-25700,4593700,18800,4601200.0
2013,69400,29800,81300,62700,2328500,2286100,205466000000,175230000000,188780000000,39600,-18600,4614600,21000,4622200.0
2014,68400,29200,75000,66500,2346400,2299000,223606000000,191298000000,205224000000,39200,-8500,4645400,30700,4652900.0
2015,66400,29900,70000,75900,2370100,2317700,278334000000,215863000000,258944000000,36500,5900,4687800,42400,4695300.0
2016,65400,29800,66200,82300,2393100,2346500,283248000000,231361000000,262607000000,35600,16100,4739600,51700,4747000.0
2017,63400,31300,56100,95300,2430100,2380800,309621000000,246086000000,288222000000,32100,39200,4810900,71300,4818300.0
2018,61600,32000,51600,96000,2465400,2419500,335849000000,260724000000,313888000000,29600,44400,4884900,74000,4892300.0
2019,60500,30900,53100,97100,2502200,2456300,353641000000,273940000000,330084000000,29600,44000,4958500,73600,4965900.0
2020,59100,32400,50900,95600,2538100,2491800,377042000000,283779000000,356769000000,26700,44700,5029900,71400,5037300.0
2021,57300,34300,52300,74100,2560600,2514000,434069000000,323313000000,409387000000,23000,21800,5074600,44800,5082100.0
2022,59700,33600,56100,107800,2622000,2562000,475016000000,335904000000,450216000000,26100,51700,5184000,77800,5159900.0

In [69]:
# Reorder single-level columns
reordered_columns = ['Population', 'Population Change', 'Annual Births', 'Annual Deaths', 'Natural Increase',
                    'Immigrants', 'Emigrants', 'Net Migration', 'Male', 'Female', 'Both Sexes', 'GDP', 'GNP', 'GVA']

outer_merged_df = outer_merged_df[reordered_columns]

outer_merged_df

,Population,Population Change,Annual Births,Annual Deaths,Natural Increase,Immigrants,Emigrants,Net Migration,Male,Female,Both Sexes,GDP,GNP,GVA
Year,,,,,,,,,,,,,,
1998,3703100.0,38900,52700,31200,21500,46000,28600,17400,1838900,1864200,3703100,125594000000,117567000000,112817000000
1999,3741800.0,38700,53700,32400,21300,48900,31500,17400,1858600,1883000,3741600,138819000000,127088000000,123893000000
2000,3789700.0,47900,54000,32100,21900,52600,26600,26000,1882900,1906600,3789500,151873000000,138791000000,135161000000
2001,3847400.0,57700,55100,30200,24900,59000,26200,32800,1913100,1934100,3847200,159932000000,141356000000,143313000000
2002,3917500.0,70100,58100,29300,28800,66900,25600,41300,1946200,1971000,3917200,169366000000,144707000000,152258000000
2003,3980100.0,62600,60800,28900,31900,60000,29300,30700,1976900,2002900,3979800,174471000000,151555000000,156260000000
2004,4045500.0,65400,62000,28600,33400,58500,26500,32000,2011900,2033300,4045200,186315000000,162276000000,166155000000
2005,4134200.0,88700,61400,27900,33500,84600,29400,55200,2061800,2072000,4133800,197008000000,171101000000,174006000000
2006,4240200.0,106000,61200,27000,34200,107800,36000,71800,2117300,2115600,4232900,206834000000,180814000000,181212000000
2007,4383200.0,143000,66600,28400,38200,151100,46300,104800,2191300,2184600,4375900,217818000000,187527000000,192763000000
2008,4492500.0,109300,73000,28000,45000,113500,49200,64300,2238600,2246500,4485100,208051000000,180139000000,187712000000
2009,4540900.0,48400,75300,28600,46700,73700,72000,1700,2257300,2276100,4533400,197450000000,165003000000,180811000000
2010,4562300.0,21400,77200,28400,48800,41800,69200,-27400,2262200,2292600,4554800,200772000000,171011000000,184048000000
2011,4582400.0,20100,75100,27700,47400,53300,80600,-27300,2270500,2304400,4574900,203343000000,166763000000,187495000000
2012,4601200.0,18800,73200,28700,44500,57300,83000,-25700,2275000,2318700,4593700,203080000000,166053000000,187102000000
2013,4622200.0,21000,69400,29800,39600,62700,81300,-18600,2286100,2328500,4614600,205466000000,175230000000,188780000000
2014,4652900.0,30700,68400,29200,39200,66500,75000,-8500,2299000,2346400,4645400,223606000000,191298000000,205224000000
2015,4695300.0,42400,66400,29900,36500,75900,70000,5900,2317700,2370100,4687800,278334000000,215863000000,258944000000
2016,4747000.0,51700,65400,29800,35600,82300,66200,16100,2346500,2393100,4739600,283248000000,231361000000,262607000000
2017,4818300.0,71300,63400,31300,32100,95300,56100,39200,2380800,2430100,4810900,309621000000,246086000000,288222000000
2018,4892300.0,74000,61600,32000,29600,96000,51600,44400,2419500,2465400,4884900,335849000000,260724000000,313888000000
2019,4965900.0,73600,60500,30900,29600,97100,53100,44000,2456300,2502200,4958500,353641000000,273940000000,330084000000
2020,5037300.0,71400,59100,32400,26700,95600,50900,44700,2491800,2538100,5029900,377042000000,283779000000,356769000000
2021,5082100.0,44800,57300,34300,23000,74100,52300,21800,2514000,2560600,5074600,434069000000,323313000000,409387000000
2022,5159900.0,77800,59700,33600,26100,107800,56100,51700,2562000,2622000,5184000,475016000000,335904000000,450216000000

* now all the values have been validated and the dataset is clean to begin proper analysis

### File Export

In [70]:
# Exporting each of the cleaned original datasets
pop_change_df.to_csv('pop_change_df.csv')
pop_est_df.to_csv('pop_est_df.csv')
gdp_gnp_df.to_csv('gdp_gnp_df.csv')

# Exporting each of the cleaned pivoted datasets
pop_change_pivot_df.to_csv('pop_change_pivot_df.csv')
pop_est_pivot_df.to_csv('pop_est_pivot_df.csv')
gdp_gnp_pivot_df.to_csv('gdp_gnp_pivot_df.csv')

# Exporting the merged cleaned pivoted dataset
outer_merged_df.to_csv('outer_merged_df.csv')

* Validate that indiviaul values match their summed total, some of them don't, due to rounding issues
* Use your own calculated values instead

In [71]:
# Convert selected columns to 'int'
# pop_change_df['Value'] = pop_change_df['Value'].astype('int64')

# Validate the results
# pop_change_df.dtypes

* Identifying null values

In [72]:
# Finding the null values
# print(pop_change_df.isnull().sum())

In [73]:
# pop_change_pivot_df.to_csv('pop_change_pivot_df.csv')