# Python Programming BootCamp Saturday Session (10:00 am to 2:00 pm)

In [1]:
# Declare and initialse the string
fruit = 'banana'
        # 0 1 2 3 

# Display the string named as 'fruit'
print(fruit)

banana

In [2]:
# Use index to display the characters of the string
print(fruit[0], fruit[1])

b a

In [3]:
# Display the fruit string using float value
# print(fruit[1.5])

In [4]:
# Calculate the length of the string
length = len(fruit)

# Display the length of the string
print(length)

6

In [5]:
# Display all characters of the string using a for loop

for i in fruit:
    print(i)                 # Display the characters based on index in the for loop

b
a
n
a
n
a

In [6]:
# Display the string in the reverse order

startindex = len(fruit) - 1    # Length of the string
stopindex = -1                 # Stopping index value
step = -1                      # 5, 4, 3, 2, 1, 0, step decrement

for i in range(startindex, stopindex, step):                     # for loop using startindex, stopindex and step
    print(i, ' ', fruit[i])                                      #  Display the index and Its value

5   a
4   n
3   a
2   n
1   a
0   b

In [7]:
# Declare a String named as 's'
s = 'Popular Python'

print(s[0:7])              # Display first 7 characters
print(s[7:14])             # Display the characters from 7 to 14

Popular
 Python

In [8]:
# Declare the string named as 'fruit'
fruit = 'banana'

print(fruit[:3])           # Display first three characters
print(fruit[3:])           # Display the last three characters

ban
ana

# Strings are Immutable

In [9]:
# Delcare a string named as 'greeting'
greeting = 'Welcome to Party'

# Find the length of the string using len() method
length = len(greeting)

# Display the value of length
print(length)

16

In [10]:
# Assign 'P' at the index '0'
greeting[0] = 'P'

TypeError: 'str' object does not support item assignment

In [11]:
# Add the character 'P' at the start of the string
new_greeting = 'P' + greeting

# Display the string
print(new_greeting)

PWelcome to Party

In [12]:
word = 'banana'     # Declaration and initialization of string 'word'
count = 0           # Initialise a counter

# Display the string in the reverse order

startindex = 0                             # Initialise startindex
stopindex = len(word)                      # Initialise stopindex
step = 1                                   # Initialise a step 

for i in range(startindex, stopindex, step):        # for loop
    print(i, ' ', word[i])                          # Display the index and character
    if (word[i] == 'a'):                            # Count the number of characyers in the string 'word' 
        count = count + 1                           # Increment the counter

# Display the count
print('Count value: ', count)

0   b
1   a
2   n
3   a
4   n
5   a
Count value:  3

# Comparison of Strings

In [13]:
# Delcare the string named as 'word'
word = input('Please provide a word for String comparison')

# Convert the letters into lowercase using lower() method
word = word.lower()

# If else structure to compare the string values
if word < 'banana':
    print('Your word, ', word, ' comes before banana.')
elif word > 'banana':
    print('Your word, ', word, ' comes after banana.')
else:
    print('All right, banana.')

Please provide a word for String comparisonapple
Your word,  apple  comes before banana.

# Lists

In [14]:
# Declare the lists in Python

c = [10, 20, 30, 40, 10]        # Enclose the values in square brackets
d = ['zebra', 'ram', 'lark']    # Strings values in the list

# Display the List (c) and Its type
print(c, type(c))

# Display the List (d) and Its type
print(d, type(d))

[10, 20, 30, 40, 10] <class 'list'>
['zebra', 'ram', 'lark'] <class 'list'>

In [15]:
# Find the minimum value from the list (c)
min(c)

10

In [16]:
# Find the minimum value from the list (d)
min(d)

'lark'

In [17]:
# Find the masimum value from the list (c)
max(d)

'zebra'

In [18]:
# Count the values that appears one or more than one
c.count(10)

2

In [19]:
# Count the values that appears one or more than one
c.count(20)

1

In [20]:
# Display the length of the list
print(len(c))

5

In [21]:
s1 = ['Dublin', 2.0, 5, [10, 20]]      # Mix of different data types

# Display the list (s1)
print(s1)

['Dublin', 2.0, 5, [10, 20]]

In [22]:
print(s1[0], s1[1], s1[2], s1[3])

Dublin 2.0 5 [10, 20]

# Mutable Lists

In [23]:
# Declare the List named as 'numbers'
numbers = [17, 124]

# Display the list
print(numbers)

[17, 124]

In [24]:
# Assign the value at index 1

numbers[1] = 35

# Display the list of numbers
print(numbers)

[17, 35]

In [25]:
# Declaration of list of words
cheeses = ['chedder', 'Edam', 'Gouda']

# Use 'in' operator to check the values in the list
'Edam' in cheeses

True

In [26]:
'Brie' in cheeses

False

In [27]:
# Delcare the list named as 't'
t = ['A', 'B', 'C']

# Use append() method to add one more character into list 't'
t.append('D')

# Display the list and Its length
print(t, len(t))

# Store the length of String 't' into length
length = len(t)

['A', 'B', 'C', 'D'] 4

In [28]:
# Display the list named as 't' by converting it into lowercase
for i in range(0, length):              # Start a for loop from 0 to the end of the loop
    print(t[i].lower())                 # Convert the string 't' into lowercase using lower() method

a
b
c
d

In [29]:
# Display the list named as 't' by converting it into uppercase
for i in range(0, length):              # Start a for loop from 0 to the end of the loop
    print(t[i].upper())                 # Convert the string 't' into uppercase using upper() method

A
B
C
D

In [30]:
# Declare two lists named as 't1' and 't2'
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']

# Extend t1 by using extend() function for t2
t1.extend(t2)


# Display t1
print(t1)

['a', 'b', 'c', 'd', 'e']

In [31]:
# Delcare the string as 't'
t = ['j', 'a', 'c', 'Z']

# sort the list using sort() method
t.sort()

# Display the string list
print(t)

['Z', 'a', 'c', 'j']

In [32]:
# Remove the values from the list(t) using pop() method
t.pop(1)

# Display the list(t)
print(t)

['Z', 'c', 'j']

In [33]:
# Remove the values from the list(t) using pop() method
t.pop(2)

# Display the list(t)
print(t)

['Z', 'c']

# Can we store 4 numbers in the list and display the sum of numbers?

In [34]:
# Declare the list named as 'alpha_list'
alpha_list = [10, 20, 30, 40]
sum = 0                         # Initialise a variable named as 'sum'

for i in alpha_list:
    sum += i                    # sum = sum + i

# Display the sum and average values of the list (alpha_list)
print('Sum of four numbers ', sum)
print('Average of four numbers ', sum/len(alpha_list))

Sum of four numbers  100
Average of four numbers  25.0

In [35]:
# Student asked the question for string immutability regarding the replace() method
# Create a string named 'Animals'
Animals = "Webra eats grass"

# Replace one character
print(Animals.replace("W", "Z"))

Zebra eats grass

# Tuples

In [36]:
# Declare a tuple
# Tuple is an immutable sequence of items

a = (3, 4, 5)    # Parentheses used to enclose the values

print(a, type(a))

(3, 4, 5) <class 'tuple'>

In [37]:
# Display two values
print(a[0], a[1])

3 4

In [38]:
# Declare a tuple named as 'b'
b = ([1, 2])

# Display tuple and Its type
print(b, type(b))

[1, 2] <class 'list'>

In [39]:
# Declare and initialise a tuple named 'student_tuple'
student_tuple = 'John', 'Green', 3.3

# Display the tuple and Its values
print(student_tuple, type(student_tuple))

('John', 'Green', 3.3) <class 'tuple'>

In [40]:
# Declaration and initialization of tupleA
tupleA = (1, 2, 3)

# Using for() loop to display the square values
for i in tupleA:
    print(i, ' ', i**2, ' ', i**3)

1   1   1
2   4   8
3   9   27

# Slicing

In [41]:
# Declare the tuple named as 'a'
a = (1, 2, 3, 4, 5)

# Display the slices of the tuple
print(a[-2:], a[:2], a[2:])

(4, 5) (1, 2) (3, 4, 5)

In [42]:
# Display the slices of the tuple
print(a[-1:], a[-2:], a[-3:])

(5,) (4, 5) (3, 4, 5)

In [43]:
# Declare a tuple named as 'a'
a = (3, 4, 1)

# sort the tuple and stored into list (b)
b = sorted(a)

print(b, type(b), type(a))

[1, 3, 4] <class 'list'> <class 'tuple'>

In [44]:
# Delcare two tuples
a = (4, 5)
b = ('x', 'y')

# Concatenate the tuples
c = a + b      # Concatenation

# Display the concatenated tuples
print(c)

(4, 5, 'x', 'y')

In [45]:
def count_sum(arr):                             # Name of function
    count = len(arr)                            # Declaration of a variable count
    sum = 0                                     # Declaration and initialization of a varaible nmaes as sum
    for i in range(0, len(arr)):                # for loop starting from 0 to end of the array
        sum += arr[i]                           # sum of all values of array
    return count, sum                           # return the values

In [46]:
arr = (2, 3, 4, 5, 6, 7, 8, 9)          # Declaraion of tuple
array = list(arr)                       # Convert tuple to array
a = count_sum(array)                    # Call a method count_sum()
print(a)                                # Display the values

(8, 44)

# Dictionary

In [47]:
# Declare a dictionary named as 'dict'
dict = {"name": "Ken", "age": 51, "hobbies": ["reading", "running"]}

# Display the dictionary keys as well as values
print(dict)

{'name': 'Ken', 'age': 51, 'hobbies': ['reading', 'running']}

In [48]:
# Display th keys of the dictionary using for loop
for key in {"name": "Ken", "age": 51, "hobbies": ["reading", "running"]}:
    print(key)

name
age
hobbies

In [49]:
# Iterating over all the values of a dictionary and printing them one by one
for values in dict.values():
    print(values)

Ken
51
['reading', 'running']

In [50]:
# Declare the dict with three key values
dict = {"name": "Ken", "age": 51, "hobbies": ["reading", "running"]}

# Display a key and Its value from the dictionary
print(dict["name"], len(dict))

Ken 3

In [51]:
# Declare a dictionary named as 'square'
square = {1: "1", 3: "9", 5: "25", 7: "49", 9: "81"}

# Display the key is present or not
print(4 in square)

False

In [52]:
# Declare the list comprised of colors
colors = ['red', 'orange', 'yellow']

# Use enumerate to display add index along with string values
list(enumerate(colors))

[(0, 'red'), (1, 'orange'), (2, 'yellow')]

In [53]:
# Declare the dictionary
thisdict = {"brand": "Toyota", "model": "Corolla", "year": 2010}

# Store the value of the particular key into x
x = thisdict["model"]

# Display the value of x
print(x)

Corolla

In [54]:
# We can use get() method to get the values from dictionary based on keys
x = thisdict.get("model")

# Display the value of 'x'
print(x)

Corolla

In [55]:
# Display the values of dictionary using the method items()
x = thisdict.items()

# Display 'x'
print(x)

dict_items([('brand', 'Toyota'), ('model', 'Corolla'), ('year', 2010)])

In [56]:
# Delcare the dictionary provided by the student in the chat window during online session
Students = {"Name": "Andrew", "Name": "Shane"}

# Display the key "Name"
print(Students["Name"])

Shane

# Exceptions

In [57]:
print "hello"    # Syntax error

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("hello"    # Syntax error)? (3368586761.py, line 1)

In [58]:
# Declaration of a function
def main():
    number1 = int(input("Enter first number: "))          # Get an input value from the user
    number2 = int(input("Enter second number: "))         # Get an input value from the user
    result = number1 / number2                            # Process od division of numbers
    print("Result is ", result)                           # Display the results

main()                    # Call the method named as 'main()'

Enter first number: 3
Enter second number: 0

ZeroDivisionError: division by zero

In [59]:
# Declaration of a function
def main():
    try:                                                     # Start the block with try keyword for exception handling
        number1 = int(input("Enter first number: "))         # Get an input value from the user
        number2 = int(input("Enter second number: "))        # Get an input value from the user
        result = number1 / number2                           # Division oepration
        print("Result is ", result)                          # Display the results
    except ZeroDivisionError:                                # named exception
        print("Division by zero is forbidden in Maths")      # Display the value

main()         # Call the method main()

Enter first number: 3
Enter second number: 0
Division by zero is forbidden in Maths

# Multi dimensional Lists

In [60]:
# Declaration of a multi-dimensional array
a = [ [77, 68, 86, 73], [96, 87, 89, 81], [78, 90, 86, 81] ]

# Display the list named as 'a'
print(a)

[[77, 68, 86, 73], [96, 87, 89, 81], [78, 90, 86, 81]]

In [61]:
matrix = [ [77, 68, 86, 73],         # Grades of first student
           [96, 87, 89, 81],         # Grades of second student
           [78, 90, 86, 81] ]        # Grades of third student

# print(len(matrix))
rows = len(matrix)                   # Store the rows into rows variable
columns = len(matrix[rows - 1])      # Store the columns into columns

# Display the rows and columns
print(rows, columns)

3 4

In [62]:
# Nested for loop to display multi-dimensioanl list
for row in range (0, len(matrix)):                             # Outer loop to handle rows of multi-dimensionam list (array)
    for column in range(0, len(matrix[row])):                  # Inter loop to handle columns of multi-dimensionam list (array)
        print(column, end = " ")                               # Display the columns values with a space
        #print(matrix[row][column], end = " ")
    print()                                                    # For newline

0 1 2 3
0 1 2 3
0 1 2 3

In [63]:
total = 0
# Nested for loop to display multi-dimensioanl list
for row in range (0, len(matrix)):                                  # Outer loop
    for column in range(0, len(matrix[row])):                       # Inner loop
        total += matrix[row][column]                                # Add matrix values into total
    print("Total marks for student ", row + 1, ' = ', total, ' Average = ', total/columns)       # Display the total and average
    total = 0              # Reset the counter

Total marks for student  1  =  304  Average =  76.0
Total marks for student  2  =  353  Average =  88.25
Total marks for student  3  =  335  Average =  83.75

# Objects and Classes

A Python class uses variables to store data fields and methods to perform opeerations on the data.

In [64]:
# Declaration of a class named as 'MyClass'
class MyClass:
    x = 5       # Delcaration of a variable

# Display the name of the class and Its type
print(MyClass, type(MyClass))

<class '__main__.MyClass'> <class 'type'>

In [65]:
# Declaration of a class named as 'Person'
class Person:
    def __init__(self, name, age):            # Create a method named as '__init__()'
        self.name = name                      # Store the name provided by the user into self.name 
        self.age = age                        # Store the age provided by the user into self.age

# The __init__ method is the Python equivalent of the C++ constructor in an object-oriented approach. The __init__ function 
# is called every time an object is created from a class. The __init__ method lets the class initialize the object's 
# attributes and serves no other purpose. It is only used within classes.

# Declaration of an object named as 'p1'
p1 = Person("John", 32)                      

# Display the name and age of the person using object 'p1'
print('Name of a person ', p1.name)
print('Age of a person ', p1.age)

# Declaration of an object named as 'p2'
p2 = Person("Michael", 37)

# Display the name and age of the person using object 'p2'
print('Name of a person ', p2.name)
print('Age of a person ', p2.age)

Name of a person  John
Age of a person  32
Name of a person  Michael
Age of a person  37

In [66]:
# Declaration of a class named as 'Person'
class Person:
    def __init__(self, name, age):
        self.name = name                     # Store the name provided by the user into self.name 
        self.age = age                       # Store the age provided by the user into self.age 
        
    def displayfunc(self):
        print("Hello my name is ", self.name, ' and age is ', self.age)          # Display the self.name and self.age values

# Declaration of an object named as 'p1'
p1 = Person("John", 32)

# Call the method displayfunc() to display the name and age of a person using 'p1'
p1.displayfunc()

# Declaration of an object named as 'p2'
p2 = Person("Michael", 37)

# Call the method displayfunc() to display the name and age of a person using 'p2'
p2.displayfunc()

Hello my name is  John  and age is  32
Hello my name is  Michael  and age is  37

# Libraries/ Modules and Packages

In [67]:
# Load the libraries

import pandas as pd
import seaborn as sns

# Store the web link address into diamonds_url
diamonds_url = "https://raw.githubusercontent.com/TrainingByPackt/Interactive-Data-Visualization-with-Python/master/datasets/diamonds.csv"

# Read csv file using read_csv() method and store into dataframe 'diamonds_df'
diamonds_df = pd.read_csv(diamonds_url)

# Display 100 records
diamonds_df.head(100)

    carat        cut color clarity  depth  table  price     x     y     z
0    0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1    0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2    0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3    0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4    0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
..    ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
95   0.70       Good     E     VS2   57.5   58.0   2759  5.85  5.90  3.38
96   0.70       Good     F     VS1   59.4   62.0   2759  5.71  5.76  3.40
97   0.96       Fair     F     SI2   66.3   62.0   2759  6.27  5.95  4.07
98   0.73  Very Good     E     SI1   61.6   59.0   2760  5.77  5.78  3.56
99   0.80    Premium     H     SI1   61.5   58.0   2760  5.97  5.93  3.66

[100 rows x 10 columns]

In [68]:
# Display the information of the dataframe
diamonds_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [69]:
# Download the file from Moodle and load the datafile using sns object from Seaborn library
diamonds_df = sns.load_dataset('diamonds')

# Display the first five records
diamonds_df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

## Thank you