In [2]:
# Declare and Initialise a string

fruit = 'banana'

# b a n a n a
# 0 1 2 3 4 5

# Display the string value
print(fruit)

banana

In [3]:
# Display the last three characters of banana

print(fruit[3], fruit[4], fruit[5])

a n a

In [4]:
print(fruit[3:])

ana

In [5]:
# Built in Functions, It calculates the total number of characters in a string
print(len(fruit))

6

In [7]:
# Loop or Repetition statement

for i in fruit:
    print(i)

b
a
n
a
n
a

In [ ]:
# Declare and Initialise a string

fruit = 'banana'

# b a n a n a
# 0 1 2 3 4 5

In [11]:
startindex = 0
stopindex = len(fruit)
step = 1

for i in range (startindex, stopindex, step):
    print(i, ' ', fruit[i])

0   b
1   a
2   n
3   a
4   n
5   a

In [12]:
# Declare and initialise a new string

temp = 'Popular Python'
#       P o p u l a r    P  y   t   h    o    n
#       0 1 2 3 4 5 6 7  8  9   10  11   12   13
 
print(temp[0:7])

Popular

In [13]:
print(temp[9:], temp[8:], temp[7:14], temp[8:14])

ython Python  Python Python

In [ ]:
# 10 minutes break at 11:30 am

# Lists

In [25]:
# Declare and initialise the list

c = [10, 20, 30, 40, 50, 50]                  # List of numeric values
 
d = ['zebra', 'ram', 'Lark']                 # List of String values

print(c, type(c))

[10, 20, 30, 40, 50, 50] <class 'int'>

In [21]:
print(d, type(d))

['zebra', 'ram', 'Lark'] <class 'list'>

In [22]:
# Find the minimum value from the list c

min(c), max(c)

(10, 50)

In [23]:
min(d)

'Lark'

In [24]:
c.count(10), c.count(50)

(1, 2)

In [ ]:
a == 5

== means comparison
= means assignment

In [36]:
word  = 'apple'      # Declaration and initialisation of string
count = 0            # Initialise a counter

startindex = 0
stopindex  = len(word)
step       = 1

for i in range(startindex, stopindex, step):
    print(i, ' ', word[i])
    
    if (word[i] == 'p'):
        count = count + 1
        print('count = ', count)
        
# print('Count value: ', count)

0   a
1   p
count =  1
2   p
count =  2
3   l
4   e

In [37]:
# Declare and initialise a list

t = ['A', 'B', 'C']
print(t)

t.append('D')
print(t)

['A', 'B', 'C']
['A', 'B', 'C', 'D']

In [38]:
length = len(t)

for i in range(0, length):
    print ( t[i].lower() )

a
b
c
d

In [46]:
# Declare a list of numeric values
numbers = [10, 20, 30, 40]
sum = 0
length = len(numbers)

for i in numbers:
    sum += i                   # sum = sum + i,      +=

print('Sum of all numeric values: ', sum)    
print('Average of all numeric values: ', sum/length)

Sum of all numeric values:  100
Average of all numeric values:  25.0

In [ ]:
# 10 minutes break
# 1:17 pm

# Part II

In [60]:
# Load the libraries

import pandas as pd
import seaborn as sns
import numpy as np

# Load the data file
diamonds_df = pd.read_csv('diamondsNull.csv')

# Display the top 10 records
diamonds_df.head(10)

   carat        cut color clarity  depth  table  price     x     y     z
0   0.23      Ideal     E     SI2   61.5   55.0  326.0  3.95  3.98  2.43
1   0.21    Premium     E     SI1   59.8   61.0  326.0  3.89  3.84  2.31
2   0.23       Good     E     VS1   56.9   65.0  327.0  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0  334.0  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3   58.0  335.0  4.34  4.35  2.75
5   0.24  Very Good   NaN    VVS2    NaN    NaN    NaN  3.94  3.96  2.48
6   0.24  Very Good     I    VVS1   62.3   57.0  336.0  3.95  3.98  2.47
7   0.26  Very Good     H     SI1   61.9   55.0  337.0  4.07  4.11  2.53
8   0.22       Fair     E     VS2   65.1   61.0  337.0  3.87  3.78  2.49
9   0.23  Very Good     H     VS1   59.4   61.0  338.0  4.00  4.05  2.39

In [61]:
# Check the number of missing values

diamonds_df.isnull().head(10)

   carat    cut  color  clarity  depth  table  price      x      y      z
0  False  False  False    False  False  False  False  False  False  False
1  False  False  False    False  False  False  False  False  False  False
2  False  False  False    False  False  False  False  False  False  False
3  False  False  False    False  False  False  False  False  False  False
4  False  False  False    False  False  False  False  False  False  False
5  False  False   True    False   True   True   True  False  False  False
6  False  False  False    False  False  False  False  False  False  False
7  False  False  False    False  False  False  False  False  False  False
8  False  False  False    False  False  False  False  False  False  False
9  False  False  False    False  False  False  False  False  False  False

In [62]:
# Find the sum of null values
diamonds_df.isnull().sum()

carat      0
cut        0
color      1
clarity    0
depth      1
table      1
price      1
x          0
y          0
z          0
dtype: int64

In [65]:
diamonds_df['color'] = diamonds_df['color'].fillna(diamonds_df['color'].mode()[0])

In [66]:
diamonds_df.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      1
table      1
price      1
x          0
y          0
z          0
dtype: int64

In [67]:
diamonds_df.head(10)

   carat        cut color clarity  depth  table  price     x     y     z
0   0.23      Ideal     E     SI2   61.5   55.0  326.0  3.95  3.98  2.43
1   0.21    Premium     E     SI1   59.8   61.0  326.0  3.89  3.84  2.31
2   0.23       Good     E     VS1   56.9   65.0  327.0  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0  334.0  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3   58.0  335.0  4.34  4.35  2.75
5   0.24  Very Good     G    VVS2    NaN    NaN    NaN  3.94  3.96  2.48
6   0.24  Very Good     I    VVS1   62.3   57.0  336.0  3.95  3.98  2.47
7   0.26  Very Good     H     SI1   61.9   55.0  337.0  4.07  4.11  2.53
8   0.22       Fair     E     VS2   65.1   61.0  337.0  3.87  3.78  2.49
9   0.23  Very Good     H     VS1   59.4   61.0  338.0  4.00  4.05  2.39

In [68]:
diamonds_df_depth_mean = diamonds_df['depth'].mean()
diamonds_df_table_mean = diamonds_df['table'].mean()
diamonds_df_price_mean = diamonds_df['price'].mean()

In [69]:
diamonds_df['depth'] = diamonds_df['depth'].fillna(diamonds_df_depth_mean)

In [70]:
diamonds_df.head(10)

   carat        cut color clarity      depth  table  price     x     y     z
0   0.23      Ideal     E     SI2  61.500000   55.0  326.0  3.95  3.98  2.43
1   0.21    Premium     E     SI1  59.800000   61.0  326.0  3.89  3.84  2.31
2   0.23       Good     E     VS1  56.900000   65.0  327.0  4.05  4.07  2.31
3   0.29    Premium     I     VS2  62.400000   58.0  334.0  4.20  4.23  2.63
4   0.31       Good     J     SI2  63.300000   58.0  335.0  4.34  4.35  2.75
5   0.24  Very Good     G    VVS2  61.749385    NaN    NaN  3.94  3.96  2.48
6   0.24  Very Good     I    VVS1  62.300000   57.0  336.0  3.95  3.98  2.47
7   0.26  Very Good     H     SI1  61.900000   55.0  337.0  4.07  4.11  2.53
8   0.22       Fair     E     VS2  65.100000   61.0  337.0  3.87  3.78  2.49
9   0.23  Very Good     H     VS1  59.400000   61.0  338.0  4.00  4.05  2.39