In [1]:
##IMPORTING LIBRARIES
import pandas as pd
import statistics as stats
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:

#IMPORTING DATASET
# Importing the dataset
dataset = pd.read_csv('C:/Users/miant/Desktop/Python/50_Startups.csv')

dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

Let's say that we want to verify whether the expenses are at the same level for R&D, Adm and Marketing. We will use 5% significance level

In [3]:
#Step 1: Hypothesis

#H0: there is no difference in the level of expenses between the three departments
#H1: there is at least one department that presents a different level of expenses

#Step 2: we create the variables

R = dataset['R&D Spend']
A = dataset['Administration']
M = dataset['Marketing Spend']

In [4]:
from scipy.stats import kruskal

In [6]:
stat, p = kruskal(R, A, M)

print('Statistical Test:', stat)
print("p-value:", p)

Statistical Test: 48.315296761518745
p-value: 3.224531415511226e-11

Just to remember, when p-value < alpha, then we reject H0, and if p-value > alpha, then we accept it.

In this case, p-value < 0.05, therefore we reject H0

Interpretation: at a 5% significance level we have no evidence to indicate that the expenses level is the same in the three departmens

# U-Mann Whitman Test

Let's say that we want to test whether the expenses in the Adm and Mkt department are the same. We will do this at a 5% significance level

In [7]:
#Step 1: Hypothesis
#H0: there is no difference between the expenses level in Adm and Makt department
#H1: the expenses between Adm and Mkt are different

#Step 2: Creating the variables (we already created this before)

#Step 3: Test

In [8]:
from scipy.stats import mannwhitneyu

In [10]:
stat, p = mannwhitneyu(A, M)
print('Statistical Test:', stat)
print("p-value:", p)

Statistical Test: 633.0
p-value: 1.0684186140099692e-05

As p-value < 0.05, then we reject H0

Interpretation: at a 5% significante level, there is no evidence to say that the expenses in both departments are the same