# GSK Historical Stock Price Data Extraction

I decided to create the below notebook in Ubuntu Linux to extract historical time-series stock price data for GSK so that it can be leveraged for deep learning predictive analytics.

By extracting this stock data directly in Ubuntu Linux I am able to store the output in my local drive making it more efficient to then load directly to Hadoop via the terminal to benefit from Hadoops data storage capabilities and ability to handle large datasets.

Apache Spark will then be utilised in the next notebook to pre-process this data prior to deep learning being undertaken on the dataset.

I chose GSK after researching some of the longest listed stocks on the NYSE as I felt it would give me a large time-series dataset to work with.

The Yahoo Finance package was leveraged to pull this data directly for the stock for the max available time period and exported to my local directory for further analysis.

In [8]:
# pip install yfinance

In [9]:
# Import package
import yfinance as yf

In [10]:
# Define company ticker
ticker_symbol = "GSK"

In [11]:
# Fetch GSK data
gsk = yf.Ticker(ticker_symbol)

In [12]:
# Get historical market data for max available time period
hist = gsk.history(period = "max")

In [13]:
# Validate results
hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-03-28 00:00:00-05:00,0.000000,0.149641,0.139201,0.139201,2400,0.0,0.0
1980-03-31 00:00:00-05:00,0.139201,0.139201,0.139201,0.139201,0,0.0,0.0
1980-04-01 00:00:00-05:00,0.139201,0.139201,0.139201,0.139201,0,0.0,0.0
1980-04-02 00:00:00-05:00,0.000000,0.149641,0.139201,0.139201,800,0.0,0.0
1980-04-03 00:00:00-05:00,0.139201,0.139201,0.139201,0.139201,0,0.0,0.0

In [14]:
# Save output as csv
hist.to_csv('GSK_stock_data.csv')